<!doctype html>
<html lang="en">
<head>
	{% include 'head.html' %}
</head>
<body>
	<div class="container">
	{% include 'header.html' %}

	{% if user.is_authenticated %}
	<div class="row">
		<div class="col-12">
			<div class="m-4">
			<h2>Sign Out</h2>

			
				<p>Are you sure you want to sign out?</p>

				<form method="POST" action="/logout/">
				{% csrf_token %}
					<input type="hidden" name="referer" value="{{referer}}">
					<button class="btn btn-primary" type="submit">Sign Out</button>
				</form>
			
			</div>
		</div>
	</div>
	{% endif %}

	{% include 'footer.html' %}
	</div>
</body>
</html>