decorator==4.0.9
defusedxml==0.4.1
Django==1.9.3
django-allauth==0.24.1
django-cors-headers==1.1.0
django-registration==2.0.4
HTMLParser==0.0.2
ipython==4.1.2
ipython-genutils==0.1.0
oauthlib==1.0.3
path.py==8.1.2
pexpect==4.0.1
pgmagick==0.6.1
pickleshare==0.6
psycopg2==2.6.1
ptyprocess==0.5.1
python3-openid==3.0.9
requests==2.9.1
requests-oauthlib==0.6.1
simplegeneric==0.8.1
traitlets==4.1.0
