{% include 'header.html' %}

{% if not user.is_authenticated %}

	{% block main_content %}

	{% if form.errors %}
		<h3 class="error">Please correct the errors below:</h3>
	{% endif %}

	<div id="outer">
		<form method="post" action="">{% csrf_token %}
		<div id="row">
			<div id="innerCellLeft">
				<label for="id_username">Username:</label>{% if form.username.errors %}<br />
				<span style="color: #ff0000; font-weight: bold;" class="error">{{ form.username.errors|join:", " }}</span>{% endif %}
			</div>
			<div id="innerCellRight">{{ form.username }}</div>
		</div>
		<div id="row">
			<div id="innerCellLeft">
				<label for="id_email">Email address:</label>{% if form.email.errors %}<br />
				<span style="color: #ff0000; font-weight: bold;" class="error">{{ form.email.errors|join:", " }}</span>{% endif %}
			</div>
			<div id="innerCellRight">{{ form.email }}</div>
		</div>
		<div id="row">
			<div id="innerCellLeft">
				<label for="id_password1">Password:</label>{% if form.password1.errors %}<br />
				<span style="color: #ff0000; font-weight: bold;" class="error">{{ form.password1.errors|join:", " }}</span>{% endif %}
			</div>
			<div id="innerCellRight">{{ form.password1 }}</div>
		</div>
		<div id="row">
			<div id="innerCellLeft">
				<label for="id_password2">Password (type again):</label>{% if form.password2.errors %}<br />
				<span style="color: #ff0000; font-weight: bold;" class="error">{{ form.password2.errors|join:", " }}</span>{% endif %}
			</div>
		<div id="innerCellRight">{{ form.password2 }}</div></div><br />
			<div>
				<div colspan="2">
					<button type="submit">Register &rarr;</button>
				</div>
			</div>
		</form>
	</div>
	{% endblock %}

	<p class="registerInfo">Fill out the form (all fields are required), and your account will be created; you'll be sent an email with instructions on how to finish your registration. We'll only use your email to send you signup instructions. We hate spam as much as you do.</p>
	<p class="registerInfo">This account will let you log into the OpenRA Resource Center, upload &amp; manage your content, participate in discussions.</p>
	<p class="registerInfo">Your username can only consist of alphanumeric characters and underscores and may be up to 20 characters long.</p>

{% endif %}

{% include 'footer.html' %}
