{% if request.user.is_authenticated %}
	<div class="upload_container">
		<form action="/maps/{{arg}}/upload-screenshot" method="POST" enctype="multipart/form-data">{% csrf_token %}
			<div class='cBlock no-pd-bot'>
				<h3>Upload screenshot of your map</h3>
			</div>

			<div class='cBlock screenshot_form'>
				<div>
					<input name="screenshot" type="file">
					<br />
					<p>
						<input name="map_preview" type="checkbox"> Map full preview <span class="red">*</span>
					</p>
					<p>
						<span class="red">*</span>  Last uploaded Map full preview is available via click on minimap.
					</p>
				</div>
				<div>
					<button type="submit">Upload</button>
				</div>
			</div>
		</form>
	</div>
{% endif %}
