<div class="cBlock">
	{% if message_sent %}
		<h3>Your message has been sent!</h3>
	{% else %}
		<h3>Contacts</h3>
		<p>

		If you need admin/maintainer of this site, contact <b>ihptru</b> at <a target="_blank" href="http://webchat.freenode.net/?channels=openra">#openra</a> IRC channel on Freenode.

		</p>
		<p>Or use this contact form:</p>

		<div class="contacts">
			<form action="/contacts/" method="POST">{% csrf_token %}
				<label>Name:</label> <input type="text" value="" name="name" required><br /><br />
				<label>E-mail:</label> <input type="email" value="" name="email" required><br /><br />
				<textarea placeholder="Your message" title="Your message" name="message" required></textarea><br />
				<div class="g-recaptcha" data-sitekey="6LdnnB4TAAAAABcVD33avSRlCMsFRSj_TP38xH_T"></div><br />
				<input type="submit" value="Send" name="contacts_submit" class="button">
			</form>
		</div>
	{% endif %}
</div>