{% load customTags %}
<section class="p-4">
	<div class="row">
		<div class="col-4">
			{% include 'profile_side_nav.html' %}
		</div>
		<div class="col-8">

			{% if '/panel/mymaps/' in request.path %}
				{% if amount_maps != 0 %}
				<div class="row">
				{% for item in maps %}
						{% include 'maps_card.html' %}
					{% endfor %}
				</div>
				<div class="clear"></div>
				{% if 2 in range %}
				<div id="paging">
				{% for i in range %}
					<div class="paging_cell">
					{% if i <= 3 or i >= range|length|add:"-2" or i < page|add:"3" and i > page|add:"-3" or i == 4 and page == 7 or i == range|length|add:"-3" and page == range|length|add:"-6" %}
						{% if page == i %}
							<span>{{ i }}</span>
						{% else %}
							<a href="/panel/mymaps/page/{{i}}">{{ i }}</a>
						{% endif %}
					{% else %}
						{% if i < page %}
							<span class='no-page-before hide_block'>...</span>
						{% else %}
							<span class='no-page-after hide_block'>...</span>
						{% endif %}
					{% endif %}
					</div>
				{% endfor %}
			</div>
				{% endif %}
				{% endif %}
			{% endif %}
		</div>
	</div>
</section>
