{% load customTags %}
<br />
page is in development
<br />
<div class="">

	id: {{orarep.id}}<br />
	user: {{orarep.user.username}}<br />
	info: {{orarep.info}}<br />
	game mod: {{orarep.game_mod}}<br />
	map_hash: {{orarep.map_hash}}<br />
	played with: {{orarep.version}}<br />
	parsed by: {{orarep.parser}}<br />
	sha1sum: {{orarep.sha1sum}}<br />
	start_time: {{orarep.start_time}}<br />
	end_time: {{orarep.end_time}}<br />
	posted: {{orarep.posted}}<br />
	viewed: {{orarep.viewed}}<br />
	downloaded: {{orarep.downloaded}}<br />
	rating: {{orarep.rating}}<br />
	<br />
	disk_size: {{disk_size}}<br />
	duplicates: {{duplicztes}}<br />
	reports: {{reports}}<br />
	screenshots: {{screenshots}}<br />
	<br /><br />

	Players<br />
	==========
	<br />
	{% for player in orarep.id|get_replay_players %}
		client_index: {{player.client_index}}<br />
		name: {{player.name}}<br />
		color: {{player.color}}<br />
		faction id: {{player.faction_id}}<br />
		faction name: {{player.faction_name}}<br />
		is_bot: {{player.is_bot}}<br />
		is_human: {{player.is_human}}<br />
		is_random_faction: {{player.is_random_faction}}<br />
		is_random_spawn: {{player.is_random_spawn}}<br />
		outcome: {{player.outcome}}<br />
		outcome_timestamp: {{player.outcome_timestamp}}<br />
		spawn_point: {{player.spawn_point}}<br />
		team: {{player.team}}<br />
		============================<br />
	{% endfor %}

	<a href="/replays/{{orarep.id}}/orarep/">download</a>

</div>