{% load customTags %}

	<div class="row">
		<div class="col-sm-12 col-md-8">
			<section class="p-3 m-2  border border-primary bg-transparent-dark">
				<div class="row">
					<div class="col-sm-12 col-md-9">
							<h2>{{ map.title|strip_tags }}</h2>
							{% if map.author %}
							<h4>
									by <a href="/maps/author/{{map.author|proper_space}}/" title="Show maps authored by {{map.author|strip_tags}}">{{ map.author|strip_tags }}</a>
							</h4>
							{% endif %}
							<p class="mb-0 d-inline-flex align-items-center" title="Rating of the map">
								<span>Rating:</span>
										<div class="d-inline-flex align-items-center">{% if request.user.is_authenticated %}<div class="d-inline-block five-star-rating" data-average="{{map.rating}}" data-id="{{map.id}}" data-type="map" title="{{ratesAmount}} users rated, average: {{map.rating}}"></div>{% else %}<span title="Authenticate to rate map">{{ map.rating }}</span>{% endif %}</div>
							</p>
								<ul class="list-group list-group-horizontal justify-self-flex-start  align-items-flex-start border-0">
									<li class="list-group-item border-0 p-0 m-0 pr-4 text-left bg-transparent align-items-center d-inline-flex">
										{% if map.game_mod == 'ra' %}
										<img src="/static/images/{{map.game_mod}}_64x64.png" class="pr-1" width="24" height="24">
										{% else %}
										<img src="/static/images/{{map.game_mod}}_64x64.png" class="pr-1" width="24" height="24">
										 {% endif %}
										<span title="rating">
											{{ map.game_mod|upper }}
										</span>
									</li>
									<li class="list-group-item border-0 p-0 pr-4 text-left bg-transparent align-items-center d-inline-flex">
										<i class="fas fa-hdd pr-1"></i>
										<span title="rating">
											{{disk_size}}
										</span>
									</li>
									<li class="list-group-item border-0 pl-0 pr-4 text-left bg-transparent">
										<i class="far fa-eye pr-1"></i>
										<span title="rating">
											{{ map.viewed }}
										</span>
									</li>
									<li class="list-group-item border-0 p-0 m-0 pr-4 text-left bg-transparent align-items-center d-inline-flex">
										<i class="fas fa-download pr-1"></i>
										<span title="rating">
											{{ map.downloaded }}
										</span>
									</li>
									<li class="list-group-item border-0 p-0 pr-4 text-left bg-transparent align-items-center d-inline-flex">
										<i class="fas fa-gamepad pr-1"></i>
										<span title="rating">
											{% if map.played_counter > 0 %}{{ map.played_counter }}{% else %} 0 {% endif %}
										</span>
									</li>
								</ul>
								<p>
									<span class="border border-top-0 border-left-0 border-bottom-0 border-primary pr-2">
										<a href="/map/hash/{{map.map_hash}}" target='_blank'>View API</a>
									</span>
									<span class="pl-2" title="click to copy">Stats:
									{% if duplicates %}<a href="/maps/duplicates/{{map.map_hash}}/" title='Show duplicates'>Ξ</a> {% endif %}<span id="selectHash" onclick="selectText('selectHash')">{{ map.map_hash }}</span>
									</span>
								</p>

							<div class="row">
								<div class="col-4 text-center">
									<a href="/maps/{{arg}}/oramap" title="{{disk_size}}" class="btn btn-primary"><i class="fas fa-file-download"></i> Download</a>
								</div>
								<div class="col-4 text-center">
										{% if request.user.is_authenticated %}
										{% if reported == False %}
										<!-- Button trigger modal -->
										<button type="button" class="btn btn btn-danger" data-toggle="modal" data-target="#reportmap">
											<i class="fas fa-flag"></i> Report map</a>
										</button>

										{% if request.user.is_authenticated %}
										<!-- Modal -->
										<div class="modal fade" id="reportmap" tabindex="-1" role="dialog" aria-labelledby="reportmap" aria-hidden="true">
											<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
												<h5 class="modal-title text-dark">Report this map</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
												</div>
												<div class="modal-body">
													<form method="POST" action="/maps/{{map.id}}">{% csrf_token %}
														<div><textarea name="reportReason" placeholder="Reason"></textarea></div>
														<div class="checkboxRow text-danger"><label>Copyright Infringement: </label><input type="checkbox" name="infringement" value="true"></div>
														<div><button class="btn btn-primary" type="submit">Submit</button></div>
													</form>
												</div>
												<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											</div>
											</div>
										</div>
										</div>

										{% endif %}

										{% endif %}
										{% if reports %}
												<div class="map_data_link"><a class="allReportsShow">show reports ({{reports|length}})</a></div>
											{% endif %}
										{% else %}
										{% if reports %}
											<a class="allReportsShow">show reports ({{reports|length}})</a>
											{% endif %}
										{% endif %}
								</div>
								<div class="col-4 text-center">
									<a class="printYamlShow btn btn-info" href="/maps/{{map.id}}/yaml/"><i class="far fa-file-alt"></i> Get YAML</a>
								</div>
							</div>

					</div>
					<div class="col-sm-12 col-md-3 text-center text-md-right">
						<p>Published on {{ map.posted|date:"M/d/Y" }}</p>
						{% if map_preview %}
						<a class="img-fluid map-preview" href="/screenshots/{{map_preview.id}}/" onclick="return hs.expand(this, config_minimap)" title="Full preview">
							<img src={{ '/maps/' }}{{ arg }}{{ '/minimap' }} alt="minimap" />
						</a>
						{% else %}
							<img src={{ '/maps/' }}{{ arg }}{{ '/minimap' }} class="img-fluid map-preview" alt="minimap" />
						{% endif %}
					</div>
				</div>
			</section>

			<section class="p-3 m-2">
				<div class="row no-gutters">
					<div class="col-12">
							<table class="table mt-2 border align-items-center border-primary bg-transparent-dark">
								<thead>
									<tr>
										<th class="text-white">Previous revision</th>
									<th class="text-white"><a href="/maps/{{map.id}}/revisions/" title="Show all revisions">Revision</a></th>
									<th class="text-white">Next revision</th>
								</tr>
								</thead>
								<tr>
									<td class="text-white">{% if map.pre_rev == 0 %}
										Nothing found
										{% else %}
											<a href="/maps/{{map.pre_rev}}/"><img src="/maps/{{map.pre_rev}}/minimap" alt="minimap" /></a>
										{% endif %}
									</td>
									<td class="text-white"><h3>{{ map.revision }}</h3></td>
									<td>{% if map.next_rev == 0 %}
											{% if map.user_id == request.user.id or request.user.is_superuser %}
											<a href="/upload/map/{{map.id}}/">Upload new revision</a>
											{% else %}
											<span class="text-white">It's the latest</span>
											{% endif %}
										{% else %}
											<a href="/maps/{{map.next_rev}}/"><img src="/maps/{{map.next_rev}}/minimap" alt="minimap" /></a>
										{% endif %}
									</td>
								</tr>
							</table>
					</div>
				</div>
			</section>

			{% if screenshots %}
			<section class="p-3 m-2">
				<div class="row">
					<div class="col-12">
						<div class="p-3 border border-primary bg-transparent-dark">
							<h5>Screenshots:</h5>
							{% for item in screenshots %}
							<div class="cScreenshot"><a class="highslide" href="/screenshots/{{item.id}}/" onclick="return hs.expand(this, config1)"><img src="/screenshots/{{item.id}}/mini/" alt="screenshot" /></a>
								{% if request.user.id == item.user_id or request.user.is_superuser %}
									<br /><span style="font-size: 0.8em; text-align: justify;"><a href="/screenshots/{{item.id}}/delete/" onClick='return confirmDelete("screenshot")'>delete</a></span>
								{% endif %}
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</section>
			{% endif %}

			<section class="p-3 m-2">

				<div class="row">
					<div class="col">
						{% if map.description and map.description != "Describe your map here" and map.mapformat < 11 %}
						<section class="border border-primary bg-transparent-dark cBlock highslide-gallery">
							<div class="p-3">
								<h5>Description:</h5>
								<p>
								{% autoescape off %}
								{{ map.description|strip_tags|convert_links|nl_to_br }}
								{% endautoescape %}
								</p>
							</div>
							{% if map.info %}
							<div class="map_info">
								<p>
								{% autoescape off %}
								{{ map.info|strip_tags|convert_links|linebreaks }}
								{% endautoescape %}
								</p>
							</div>
							{% endif %}
						</section>
						{% else %}
							{% if map.info %}
							<section class="border border-primary bg-transparent-dark cBlock highslide-gallery">
								<div class="p-3">
									<h5>Description:</h5>
									<p>
									{% autoescape off %}
									{{ map.info|strip_tags|convert_links|linebreaks }}
									{% endautoescape %}
									</p>
									</div>
							</section>
							{% endif %}
						{% endif %}


					</div>
				</div>
			</section>

			<section class="p-3 m-2">
				<div class="row">
					<div class="col-12">
						{% if comments %}
						<a name="comments"></a>

						{% for revision_comments in comments %}
							{% if revision_comments.1 %}
								<div class="pt-2 border border-primary border-bottom-0 border-left-0 border-right-0">
									<h5>Comments for <a href="{{revision_comments.0.revision|map_id_of_rev:map}}" title="{{revision_comments.0.revision|map_title_of_rev:map}}">revision {{revision_comments.0.revision}}</a>{% if map.revision == revision_comments.0.revision %} (current){% endif %}{% if request.user.is_authenticated and revision_comments.2 and request.user != map.user and revision_comments.3 != True %} (<a href="{{revision_comments.0.revision|map_id_of_rev:map}}/unsubscribe/" title="Unsubscribe from comments to this revision">unsubscribe</a>){% elif request.user.is_authenticated and revision_comments.2 and request.user != map.user and revision_comments.3 == True%} (<a href="{{revision_comments.0.revision|map_id_of_rev:map}}/unsubscribe/" title="Subscribe back to comments to this revision">subscribe</a>){% endif %}:</h5>
								</div>

									{% for comment in revision_comments.1 %}

										{% autoescape off %}
										<details class="comment mt-2 mb-2" open>
											<summary><b>{{comment.user.username|account_link:comment.user.id}}</b> <span>commented on {{comment.posted}}{% if request.user.id == comment.user.id %}</span> (<a href="/deletecomment/{{comment.id}}/maps/{{map.id}}/" onClick='return confirmDelete("comment")' title='delete comment'>メ</a>){% endif %}
											</summary>

										<div class="commentMsg">{{comment.content|strip_tags|convert_links|linebreaks}}</div>
										{% endautoescape %}
									</details>

									{% endfor %}
							{% endif %}
						{% endfor %}

					{% endif %}


					{% if request.user.is_authenticated %}
					<form class='post_comment' method='POST' action='{{request.path}}#comments'>{% csrf_token %}
						<label for="comment">Post comment</label>
						<textarea name='comment' class="form-control" id="comment" rows="3"></textarea>
						<input type='submit' value="Comment" class='mt-2 btn btn-primary'>
					</form>
					{% endif %}
					</div>
				</div>
			</section>
			{% if license %}

				<section class="p-3 m-2">
					<div class="row">
						<div class="col-12">
							<section class="mt-2 bg-transparent-dark border border-primary">
								<div class="p-3">
									<div class="license_img left">
										<a target="_blank" rel="license" href="http://creativecommons.org/licenses/{{icons}}/4.0/deed.en_US">
											<img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/{{icons}}/4.0/88x31.png" />
										</a>
									</div>
									<div class="license_text left">Some rights reserved: <a target="_blank" rel="license" href="http://creativecommons.org/licenses/{{icons}}/4.0/deed.en_US" title="External graphics and sounds are not covered by the license">Creative Commons {{license}}</a>. External graphics and sounds are not covered by the license.</div>
									<div class="clear"></div>
								</div>
							</section>

						</div>
					</div>
					</section>
				{% endif %}
		</div>
		<div class="col-sm-12 col-md-4">

			<section class="p-3 m-2 border align-items-center border-primary bg-transparent-dark">
				<div class="row">
						<div class="col-12">
							<details class="border border-dark bg-transparent-dark p-3" open>
								<summary class="border-dark"><h5 class="d-inline-flex">Map Details</h5></summary>
								{% if map.map_type %}
								<p class="m-0 p-0 pl-2 pr-2">
									<span class="map_data_label">Type: </span><span class="map_data_text">{{ map.map_type|upper }}</span>
								</p>
								{% endif %}
								{% if map.categories %}
								<p class="m-0 p-0 pl-2 pr-2">
									<span class="map_data_label">Categories: </span><span class="map_data_text">{{ map.categories|map_categories }}</span>
								</p>
								{% endif %}
								<p class="m-0 p-0 pl-2 pr-2">
									<span class="map_data_label">Players: </span><span class="map_data_text">{{ map.players }}</span>
								</p>
								<p class="m-0 p-0 pl-2 pr-2">
									<span class="map_data_label">Tileset: </span><span class="map_data_text">{{ map.tileset|capfirst }}</span>
								</p>
								<p class="m-0 p-0 pl-2 pr-2">
									<span class="map_data_label">Size: </span><span class="map_data_text">{{ map.bounds|map_real_size }}</span>
								</p>
								<p class="m-0 p-0 pl-2 pr-2">
									<span class="map_data_label">Map Format: </span><span class="map_data_text">{{ map.mapformat }}</span>
								</p>
								<p class="m-0 p-0 pl-2 pr-2">
									<span class="map_data_label">Uploader: </span><span class="map_data_text"><a href="/maps/uploader/{{userid.id}}/" title="Show maps uploaded by {{userid.username}}">{{ userid.username }}</a></span>
								</p>
								{% if map.shellmap %}
								<p class="m-0 p-0 pl-2 pr-2">
									<span class="map_data_label">Shellmap: </span><span class="map_data_text">{{ map.shellmap }}</span>
								</p>
								{% endif %}
								{% if map.legacy_map %}
								<p class="m-0 p-0 pl-2 pr-2">
									<span class="map_data_label">Imported Map: </span><span class="map_data_text">{{ map.legacy_map }}</span>
								</p>
								{% endif %}
								<p class="m-0 p-0 pl-2 pr-2">
									<span class="map_data_label">Downloading: </span><span class="map_data_text"><a href="https://github.com/OpenRA/OpenRA-Resources/wiki/Downloading-Status-FAQ" title="In-Game Downloading" target="_blank">{% if map.downloading and reports|length < REPORTS_PENALTY_AMOUNT %}allowed{% else %}<span class="integration">!</span>forbidden<span class="integration">!</span>{% endif %}</a></span>
								</p>
							</details>
						</div>
						{% if user.is_authenticated %}
						<div class="col-12">
							<details class="border border-dark bg-transparent-dark p-3 mt-2 mb-2" open>
								<summary> <h5 class="d-inline-flex">Map control panel</h5></summary>
								<div class="row align-items-center mt-2">

									{% if show_upgrade_map_button %}
								 <div class="col-6 text-center">
										 <a href="/maps/{{arg}}/update/" title="Update to the latest OpenRA engine version" class="btn btn-primary m-2">Update Map</a>
								 </div>
								 {% endif %}

								 {% if request.user.is_superuser or map.user_id == request.user.id %}
								 <div class="col-6 text-center">
									 <!-- Button trigger modal -->
									 <div class="btn btn-info btn-sm m-2" data-toggle="modal" data-target="#editmapinfo">
										 <i class="fas fa-edit"></i> Edit map info
									 </div>
									 <!-- Modal -->
									 <div class="modal fade" id="editmapinfo" tabindex="-1" role="dialog" aria-labelledby="editmapinfo" aria-hidden="true">
										 <div class="modal-dialog">
											 <div class="modal-content">
												 <div class="modal-header">
													 <h5 class="modal-title text-dark">Edit map info
													 </h5>
													 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													 <span aria-hidden="true">&times;</span>
													 </button>
												 </div>
												 <div class="modal-body">
													 <form method="POST" class="form" action="/maps/{{map.id}}">
														 {% csrf_token %}
														 <div class="w-100">
															 <textarea name="mapInfo" placeholder="Map info">{{map.info}}</textarea>
														 </div>
														 <button type="submit" class="btn btn-primary m-1">Submit</button>
													 </form>
												 </div>
												 <div class="modal-footer">
													 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
												 </div>
											 </div>
										 </div>
									 </div>

								 </div>

								 <div class="col-6 text-center">
									 <!-- Button trigger modal -->
									 <button class="btn btn-info btn-sm m-2" data-toggle="modal" data-target="#addscreenshots">
										 <i class="far fa-plus-square"></i> Add screenshot
									 </button>
									 <!-- Modal -->
									 <div class="modal fade" id="addscreenshots" tabindex="-1" role="dialog" aria-labelledby="addscreenshots" aria-hidden="true">
										 <div class="modal-dialog">
											 <div class="modal-content">
												 <div class="modal-header">
													 <h5 class="modal-title text-dark">Add map screenshot
													 </h5>
													 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													 <span aria-hidden="true">&times;</span>
													 </button>
												 </div>
												 <div class="modal-body">
													 <form method="POST" class="form" action="/maps/{{map.id}}" enctype="multipart/form-data">
														 {% csrf_token %}
														 <div class="w-100">
															 <div class="form-group">
																<label for="exampleFormControlFile1" class="text-dark">Upload image file</label>
																<input type="file" class="form-control-file" id="screenshot" name="screenshot">
															</div>
															 <input name="map_preview" type="checkbox"> <span  class="text-dark">Map full preview</span> <span class="red">*</span>
														 </div>
														 <button type="submit" class="btn btn-primary m-1">Submit</button>
													 </form>
												 </div>
												 <div class="modal-footer">
													 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
												 </div>
											 </div>
										 </div>
									 </div>

								 </div>

								 <div class="col-6 text-center">
										 <a class="m-2 btn-sm change_downloading_status btn btn-dark" href="/maps/{{map.id}}/setdownloadingstatus/" title="Only In-Game Downloading">Download allow: {% if map.downloading %}<span class="text-success">true</span>{% else %}<span class="text-danger">false</span>{% endif %}</a>
								 </div>
								 <div class="col-6 text-center">
									 <a class="btn m-2 btn-danger btn-sm"  href="/maps/{{map.id}}/delete/" onClick='return confirmDelete("map")'><i class="fas fa-trash"></i> Delete {%if map.user_id == request.user.id %}my {% endif %}map revision</a>
								 </div>
								 {% endif %}

								 {% if has_upgrade_logs %}
								 <div class="col-3">
									 <a class="btn m-2 btn-info btn-sm" href="/maps/{{map.id}}/update_logs/">Map update logs</a>
								 </div>
								 {% endif %}

							</div>
						</details>

						</div>
						{% endif %}
						{% if map.downloading == False or reports|length >= REPORTS_PENALTY_AMOUNT %}
						<div class="col-12">
							<details class="border border-dark bg-transparent-dark p-3">
								<summary class="text-warning">
									<h5 class="d-inline-flex"><i class="pr-2 fas fa-exclamation-triangle"></i>Attention</h5>
								</summary>
								<p class="">
									This map can't be automatically downloaded by OpenRA game!
								</p>
								{% if map.downloading == False %}
									<p>Reason: Downloading is manually set to False</p>
								{% elif reports|length >= REPORTS_PENALTY_AMOUNT %}
									<p>Reason: More then 2 <a class="allReportsShow">active reports</a>!</p>
								{% endif %}
							</details>
						</div>
						{% endif %}

						{% if map.advanced_map %}
						<div class="col-12">
							<details class="border border-dark bg-transparent-dark p-3 mt-2 mb-2" open>
								<summary class="">
									<h5 class="d-inline-flex"><i class="pr-2 far fa-question-circle"></i> Advanced rules</h5>
								</summary>
								<p class="p-2">
									Click to see custom <a class="primary advancerulesbtn" data-toggle="modal" id="advancerulesbtn" data-target="#advancerules"><b>Rules</b></a> or <a href="/maps/{{map.id}}/rules/">download </a> file.
								</p>
							</details>
						<!-- Modal -->
							<div class="modal fade" id="advancerules" tabindex="-1" role="dialog" aria-labelledby="advancerules" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
										<h5 class="modal-title text-dark">Custom rules</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										</div>
										<div class="modal-body text-dark">
												<code id="luafile"></code>
										</div>
										<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
							</div>
						</div>
						{% endif %}
						{% if map.lua %}

						<div class="col-12">
							<details class="border border-dark bg-transparent-dark p-3 mt-2 mb-2" open>
								<summary class="">
									<h5 class="d-inline-flex"><i class="pr-2 fas fa-code"></i> Lua map</h5>
								</summary>
								<p class="p-2">
									This map includes Lua scripting logic.
										{% for item in luaNames %}
										Download <a class="printLua" data-name="{{item}}.lua" title="{{item}}"><a href="/maps/{{map.id}}/lua/{{item}}/"><code>{{item}}.lua</code></a> file.
										{% endfor %}
									<p class="p-2">Checkout <a href="http://wiki.openra.net/Map-scripting" target="_blank">documentation</a>
								</p>
							</details>
						</div>

						{% endif %}
						<div class="col-12">

							<section class="border p-3 mt-2 mb-2 border-dark bg-transparent-dark">

								{% if lints %}
									<p class="small-font bold">Lint check status:</p>
									{% for lint in lints %}
										{% if not map.requires_upgrade and lint.0 == map.parser  or  map.requires_upgrade  or  not map.requires_upgrade and lint.0 == last_parser %}
												{% if lint.1 %}
												<span class="text-success"><i class="fas fa-check"></i> pass</span>
												{% else %}
												<a href="#" class="showLintLog text-danger" data-version="{{lint.0}}"><i class="fas fa-times"></i> fail</a>
												{% endif %}

												<span class="small-font">{{lint.0}}</span>
										{% endif %}
									{% endfor %}
								{% endif %}
							</section>
						</div>

						<div class="col-12">

							<section class="border p-3 mt-2 mb-2 border-dark bg-transparent-dark">
								Parsed by: {{map.parser}}
							</section>
						</div>
						{% if map.author %}
							{% if mapsFromAuthor %}
							<div class="col-12">
								<section class="border p-3 mt-2 mb-2 border-dark bg-transparent-dark">
									<details open>
										<summary>	<h5 class="d-inline-flex">More from <a href="/maps/author/{{map.author|proper_space}}/" title="Author">{{ map.author|strip_tags }}</a>:</h5></summary>
										{% for item in mapsFromAuthor %}
											<a title="{{item.title}}" href="/maps/{{item.id}}/"><img src="/maps/{{item.id}}/minimap" alt="minimap" class="img-fluid"/></a>
										{% endfor %}
									</details>
								</section>
							</div>
							{% endif %}
						{% endif %}

						{% if similarMaps %}
						<div class="col-12">

							<section class="border p-3 mt-2 mb-2 border-dark bg-transparent-dark">
								<details>
									<summary>
										<h5 class="d-inline-flex">Similar maps:</h5>
									</summary>
									{% for item in similarMaps %}
									<a title="{{item.title}} by {{item.author}}" href="/maps/{{item.id}}/"><img src="/maps/{{item.id}}/minimap" alt="minimap" class="img-fluid"/></a>
									{% endfor %}
								</details>

							</section>
						</div>
						{% endif %}
				</div>
			</section>
		</div>
	</div>
