<div class='cBlock no-pd-bot'>
	<h3>FAQ</h3>
</div>
<div class='cBlock'>
	<h3>What is this website about?</h3>
	<p>This website has been created to provide OpenRA community a place to share files related to this game such as:</p>
	<ul>
		<li> Maps (standard, advanced, modded and missions)</li>
	</ul>
</div>
<div class='cBlock'>
	<h3>Why am I obliged to upload my map on this website?</h3>
	<p>If you created a new map and want to play it with other players, you just have to:</p>
	<ul>
		<li> Upload it on this website</li>
		<li> Create a new game or join any public server and select your new map</li>
		<li> Other players will automatically download the map joining your server</li>
	</ul>
</div>
<div class='cBlock'>
	<h3>What are the rules regarding what I can upload on the site?</h3>
	<ul>
		<li> We ask you to upload only OpenRA related files</li>
		<li> You are not allowed to steal someone else's work and publish it here under your name</li>
		<li> If you upload someone else's work, make sure you have his/her written permission to do this</li>
		<li> You are responsible for everything you upload on this website</li>
	</ul>
</div>
<div class='cBlock'>
	<h3>How can I report a Copyright infringement?</h3>
	<p>Go to the page where you saw the file and click on the link "Report Copyright Infringement" or contact us at OpenRA <a target="_blank" href="http://webchat.freenode.net/?channels=openra">IRC channel</a></p>
</div>
<div class='cBlock'>
	<h3>How can I create a map?</h3>
	<p>You can find tutorials &amp; documentation at OpenRA wiki page: 
		<a target="_blank" href="http://wiki.openra.net/Mapping">http://wiki.openra.net/Mapping</a>
	</p>
</div>
<div class='cBlock'>
	<h3>How to create a SHP unit?</h3>
	<p>You can find a tutorial on this page: 
		<a target="_blank" href="http://wiki.openra.net/Pixelart">http://wiki.openra.net/Pixelart</a>
	</p>
</div>
<div class='cBlock'>
	<h3>I noticed an issue on this website or I have an idea.<br />
	How do I contact maintainer?</h3>
	<p>Please use <a target="_blank" href="https://github.com/OpenRA/OpenRA-Resources/issues?state=open">bug tracker</a> or contact <b>ihptru</b> at <a target="_blank" href="http://webchat.freenode.net/?channels=openra">#openra</a> IRC channel on Freenode.</p>
</div>