<div id="footer">
	<div class="copyright">Copyright © 2013-{% now "Y" %} The OpenRA Content Site Developers</div>
	<div class="footer-links">
		<div class="Contacts"><a href="/contacts/">Contacts</a></div>
		<div class="FAQ"><a href="/faq/">FAQ</a></div>
		<div class="Issues"><a target="_blank" href='https://github.com/OpenRA/OpenRA-Resources/issues/'>Issues</a>
		</div>
		<div class="API"><a target="_blank" href='https://github.com/OpenRA/OpenRA-Resources/wiki/MapAPI'>API</a></div>
	</div>
</div>