{% load header_tags %}

<div id="overlay"></div>

<div id="rssfeed">
	<a class="feed" href="/news/feed.rss" title="The latest maps">RSS Feed</a>
	{% if user.is_authenticated %}
	<a class="userManageTop" style="text-decoration: underline;" href="/logout/" title="Sign out">Sign out</a>
	<a class="userManageTop" style="text-decoration: underline; padding-right: 30px;" href="/accounts/profile/"
		title="Show profile">Profile ({{ user.username}})</a>
	{% if comments %}

	<a class="userManageTop" style="text-decoration: none; padding-right: 30px;" href="/comments/"
		title="All comments">{{request.COOKIES.last_comment_id_seen|new_comments:request.user.id}}<span
			style="text-decoration: underline;">Comments</span></a>
	{% else %}
	<a class="userManageTop" style="text-decoration: none; padding-right: 30px;" href="/comments/"
		title="All comments"><span style="text-decoration: underline;">Comments</span></a>
	{% endif %}
	{% endif %}
</div>

<div id="header">
	<h1>
		<img src="/static/images/soviet-logo.svg"
			onerror='this.onerror = null; this.src="/static/images/soviet-logo-fallback.png"' alt="logo">OpenRA
		Resource Center
	</h1>
</div>

<a id="ghbanner" href="http://openra.net" target="_blank" title="Go to the official OpenRA Website">
	<img alt="Go to the official OpenRA Website" src="/static/images/openra-net.svg"
		onerror='this.onerror = null; this.src="/static/images/openra-net-fallback.png"'>
</a>

<form id="quick-search" method="POST" action="/search/">{% csrf_token %}
	<input id="qsearch" type="text" title="Search maps by title, hash, description..." value="Search..."
		onblur="this.value=!this.value?'Search...':this.value;" onfocus="this.select()" onclick="this.value='';"
		name="qsearch">

	<input class="btn" type="image" src="/static/images/search.svg"
		onerror='this.onerror = null; this.src="/static/images/search-fallback.png"' title="Search" name="searchsubmit"
		alt="Search">
</form>

<ul id="nav">
	<li><a href="/"><span {% if request.path == '/' %}{{ 'class="nav-selected"' }}{% endif %}>Home</span></a>
	</li>
	<li><a href="/maps/"><span {% if '/maps' in request.path %}{{ 'class="nav-selected"' }}{% endif %}>Maps</span></a>
	</li>
	{% if user.is_authenticated %}
	<li><a href="/panel/"><span {% if '/panel' in request.path %}{{ 'class="nav-selected"' }}{% endif %}>My
				Content</span></a></li>
	<li><a href="/upload/map/"><span
				{% if '/upload/map' in request.path %}{{ 'class="nav-selected"' }}{% endif %}>Upload
				Map</span></a></li>
	{% else %}
	<li><a href="/login/"><span {% if request.path == '/login/' %}{{ 'class="nav-selected"' }}{% endif %}>Sign
				In</span></a></li>
	{% endif %}
</ul>