<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>OpenRA Resource Center{{ title }}</title>
<link href="/static/css/main.css" rel="stylesheet" type="text/css">
<link href="/static/css/all.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link href="/news/feed/" rel="alternate" type="application/atom+xml">
<link rel="stylesheet" type="text/css" href="/static/js/jRating/jRating.jquery.css" media="screen" />
{% if '/contacts' in request.path %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endif %}
