{% load header_tags %}

<!-- <div id="overlay"></div> -->
<nav class="navbar navbar-expand-lg navbar-dark ">

		<a class="navbar-brand" href="#">
		  <img src="/static/images/soviet-logo.svg" class="img-fluid"
		  onerror='this.onerror = null; this.src="/static/images/soviet-logo-fallback.png"' alt="logo"/>
		  <span class="navbar-brand-text">OpenRA
			Resource Center</span>
		</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
  
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  <ul class="navbar-nav mr-auto ml-auto">
		<li {% if request.path == '/' %}
			{{ 'class="nav-item active"' }} 
			{% else %}
			{{ 'class="nav-item"' }} 
			{% endif %}>
			<a href="/" class="nav-link">
				<span>Home</span>
			</a>
		</li>
		<li {% if request.path == '/maps/' %}
		{{ 'class="nav-item active"' }} 
		{% else %}
		{{ 'class="nav-item"' }} 
		{% endif %}>
			<a href="/maps/" class="nav-link">
				<span>Maps</span>
			</a>
		</li>
		{% if user.is_authenticated %}
			<li {% if request.path == '/panel/' %}
			{{ 'class="nav-item active"' }} 
			{% else %}
			{{ 'class="nav-item"' }} 
			{% endif %}>
				<a href="/panel/" class="nav-link">
					<span>My Content</span>
				</a>
			</li>
			<li {% if request.path == '/upload/map/' %}
			{{ 'class="nav-item active"' }} 
			{% else %}
			{{ 'class="nav-item"' }} 
			{% endif %}>
				<a href="/upload/map/" class="nav-link">
					<span>Upload Map</span>
				</a>
			</li>
		{% endif %}
		<li class="nav-item dropdown">
			<a  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  {% if request.path == '/accounts/profile/' %}
			{{ 'class="nav-link dropdown-toggle active"' }} 
			{% elif request.path == '/comments/' %}
			{{ 'class="nav-link dropdown-toggle active"' }} 
			{% else %}
			{{ 'class="nav-link dropdown-toggle"' }} 
			{% endif %}>
			  User
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			  {% if user.is_authenticated %}
			  <a class="dropdown-item"  href="/accounts/profile/">
				  Profile ({{ user.username}})
			  </a>
			  {% if comments %}
			  <a class="dropdown-item"   href="/comments/"
				  title="All comments">{{request.COOKIES.last_comment_id_seen|new_comments:request.user.id}}Comments</a>
			  {% else %}
			  <a class="dropdown-item"   href="/comments/"
				  title="All comments">Comments</a>
			  {% endif %}
			  <a class="dropdown-item" href="/logout/" title="Sign out">Sign out</a>
			  {% else %}
				  <a href="/login/" class="dropdown-item">Sign In</a>
			  {% endif %}
			</div>
		  </li>
	  </ul>

	  <form class="form-inline my-2 my-lg-0 justify-content-center" id="quick-search" method="POST" action="/search/">{% csrf_token %}
		<input class="form-control mr-sm-2 w-50 " type="search" placeholder="Search" aria-label="Search" id="qsearch" type="text" title="Search maps by title, hash, description..." value="Search..."
		onblur="this.value=!this.value?'Search...':this.value;" onfocus="this.select()" onclick="this.value='';"
		name="qsearch">
		<button class="btn btn-outline-primary" type="submit" 
		onerror='this.onerror = null; this.src="/static/images/search-fallback.png"' title="Search" name="searchsubmit"
		alt="Search"><i class="fas fa-search"></i></button>
	  </form>
	</div>
  </nav>