<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=1024" />
    <title>OpenRA Resource Center{{ title }}</title>
    <link href="/static/style003.css" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    {% if map %}
    <script type="text/javascript" src="/static/js/highslide/highslide-with-gallery.packed.js"></script>
    <script type="text/javascript" src="/static/js/highslide/highslide.config.js" charset="utf-8"></script>
    <link href="/static/js/highslide/highslide.css" rel="stylesheet">
    {% endif %}
    <script type="text/javascript" src="/static/js/jRating/jRating.jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/jRating/jRating.jquery.css" media="screen" />

    <script type="text/javascript" src="/static/js/script.js"></script>
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/news/feed/" rel="alternate" type="application/atom+xml">

    {% if '/contacts' in request.path %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    {% endif %}

</head>

<body>
    <div id="container" class="container">

        {% include 'header.html' %}

        <div id="content">
            {% include content %}
            <div class="clear"></div>

        </div> <!-- close id `content` -->

        {% include 'footer.html' %}

    </div> <!-- close id `container` -->
</body>

</html>