<div class="col-12">
	<div class="row">
		<div class="col-sm-12 col-md-4">
			<div id="carouselScreenshot" class="carousel slide p-4" data-ride="carousel">
				<div class="carousel-inner">
					{% for item in screenshots %}
					<div class="carousel-item active">
						<a href="/{{item.ex_name}}/{{item.ex_id}}/" title="Show map">
							<img src="/screenshots/{{item.id}}/mini/" class="d-block w-100" alt="screenshot" />
						</a>
					</div>
					{% endfor %}
				</div>
			  </div>
		</div>
		<div class="col-sm-12 col-md-8">
			<section class="p-4">
				<h3>Share your Maps!</h3>
				<p>OpenRA is a free and open-source RTS game engine that lets you play re-balanced games like C&amp;C: Red Alert, C&amp;C: Tiberian Dawn, Dune 2000...</p>
				<p>The engine allows players to create new mods, add modified versions of units, buildings etc.
				It also offers advanced features for creating maps and missions.</p>
				<p>This website makes distribution of OpenRA maps more comfortable.</p>
				<p>If you created a new map and want to play it with other players, you just have to:</p>
				<ul>
					<li><a href="/upload/map/">Upload the map here</a>.</li>
					<li>Create a new game or join any public server and select your map.</li>
					<li>Other players joining can download the map in-game directly from this website.</li>
				</ul>
			</section>
		</div>
	</div>
</div>
