<div class='cBlock no-pd-bot'>
	<h3>Links</h3>
</div>
<div class='cBlock'>
	<div class="link-container">
		<h3 style="margin:0;">This Website:</h3>
		<ul>
			<li><a target="_blank" href="https://github.com/OpenRA/OpenRA-Resources/wiki">https://github.com/OpenRA/OpenRA-Content-Engine/wiki</a> (wiki)</li>
			<li><a target="_blank" href="https://github.com/OpenRA/OpenRA-Resources/issues?state=open">https://github.com/OpenRA/OpenRA-Content-Engine/issues?state=open</a> (issue tracker)</li>
			<li><a target="_blank" href="http://stats.pingdom.com/syygqlg6525r/1950606">http://stats.pingdom.com/syygqlg6525r/1950606</a> (Pingdom Uptime and Latency Measurement)</li>
		</ul>
		<h3>Official OpenRA website:</h3>
		<ul>
			<li><a target="_blank" href="http://www.openra.net/">http://www.openra.net/</a> (official website)</li>
			<li><a target="_blank" href="http://openra.net/games/">http://openra.net/games/</a> (current games)</li>
			<li><a target="_blank" href="http://stats.pingdom.com/syygqlg6525r/788293">http://stats.pingdom.com/syygqlg6525r/788293</a> (Pingdom Uptime and Latency Measurement)</li>
			<li><a target="_blank" href="http://stats.pingdom.com/syygqlg6525r">http://stats.pingdom.com/syygqlg6525r</a> (Pingdom Overview Page)</li>
		</ul>
		<h3>IRC:</h3>
		<ul>
			<li><a target="_blank" href="http://webchat.freenode.net/?channels=openra">http://webchat.freenode.net/?channels=openra</a> (live chat)</li>
			<li><a target="_blank" href="http://logs.openra.net/">http://logs.openra.net/</a> (IRC logs)</li>
			<li><a target="_blank" href="http://logs.openra.net/stats/index.html">http://logs.openra.net/stats/index.html</a> (IRC channel stats)</li>
			<li><a target="_blank" href="http://ingame.logs.openra.net/">http://ingame.logs.openra.net/</a> (In-Game Chat Logs of OpenRA)</li>
			<li><a target="_blank" href="http://ingame.logs.openra.net/stats/index.html">http://ingame.logs.openra.net/stats/index.html</a> (In-Game Chat of OpenRA stats)</li>
		</ul>
		<h3>Master Server:</h3>
		<ul>
			<li><a target="_blank" href="http://master.openra.net/games">http://master.openra.net/games</a> (Raw list of current online games)</li>
			<li><a target="_blank" href="http://activity.openra.net/">http://activity.openra.net/</a> (Player activity graphs)</li>
			<li><a target="_blank" href="http://stats.pingdom.com/syygqlg6525r/1950600">http://stats.pingdom.com/syygqlg6525r/1950600</a> (Pingdom Uptime and Latency Measurement for Master Server)</li>
			<li><a target="_blank" href="http://stats.pingdom.com/syygqlg6525r/1950684">http://stats.pingdom.com/syygqlg6525r/1950684</a> (Pingdom Uptime and Latency Measurement for Player activity graphs)</li>
		</ul>
		<h3>Forums:</h3>
		<ul>
			<li><a target="_blank" href="http://www.sleipnirstuff.com/forum/viewforum.php?f=80">http://www.sleipnirstuff.com/forum/viewforum.php?f=80</a> (official)</li>
			<li><a target="_blank" href="http://stats.pingdom.com/syygqlg6525r/1950672">http://stats.pingdom.com/syygqlg6525r/1950672</a> (Pingdom Uptime and Latency Measurement of Forums)</li>
			<li><a target="_blank" href="http://www.ppmsite.com/forum/index.php?f=929">http://www.ppmsite.com/forum/index.php?f=929</a> (ppmsite)</li>
		</ul>
		<h3>Social sites:</h3>
		<ul>
			<li><a target="_blank" href="http://www.desura.com/games/openra">http://www.desura.com/games/openra</a></li>
			<li><a target="_blank" href="http://www.moddb.com/games/openra">http://www.moddb.com/games/openra</a></li>
			<li><a target="_blank" href="https://twitter.com/openRA">https://twitter.com/openRA</a></li>
			<li><a target="_blank" href="https://plus.google.com/s/openra">https://plus.google.com/s/openra</a></li>
			<li><a target="_blank" href="https://www.facebook.com/openra">https://www.facebook.com/openra</a></li>
		</ul>
		<h3>Wiki:</h3>
		<ul>
			<li><a target="_blank" href="http://wiki.openra.net">http://wiki.openra.net</a></li>
		</ul>
		<h3>Bugs:</h3>
		<ul>
			<li><a target="_blank" href="http://bugs.openra.net">http://bugs.openra.net</a></li>
		</ul>
		<h3>Thirdparty:</h3>
		<ul>
			<li><a target="_blank" href="http://af.github.io/openra_chart/">http://af.github.io/openra_chart/</a> Unit costs and tech tree</li>
			<li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.vellu.openra">https://play.google.com/store/apps/details?id=com.vellu.openra</a> OpenRA Server List for Android</li>
			<li><a target="_blank" href="http://www.openra.club/"></a> OpenRA.club Online LeaderBoard for OpenRA</li>
		</ul>
	</div>
</div>
