{% load customTags %}

<div class='cBlock no-pd-bot map-grid-header-info'>
	<h3>Found {{ amount }} duplicates by hash: <u>{{maphash}}</u>{% if page > 1 %} ( page {{page}} ){% endif %}</h3>
</div>
{% if amount != 0 %}
<div id="map_grid">
	{% for item in maps %}
		<div class="map_grid_cell">
			<a href="/maps/{{item.id}}/">
				<div class="cell-link-container">
					<div><img src="/maps/{{item.id}}/minimap" /></div><div class="link_title">{{ item.title|strip_tags }}</div>
				</div>
				{% if item.downloading == False or item.amount_reports >= 3 %}
				<div class="map-custom-status"><img src="/static/images/attention-mini.jpg" /></div>
				{% endif %}
				{% if item.advanced_map %}
				<div class="map-custom-status"><img src="/static/images/advanced-mini.jpg" /></div>
				{% endif %}
				{% if item.lua %}
				<div class="map-custom-status"><img src="/static/images/lua-mini.jpg" /></div>
				{% endif %}
			</a>
			<div class="map_tooltip">
				<div class="map_tooltip_mod mod_{{ item.game_mod }}">{{ item.game_mod|upper }}</div>
				<table>
					<tr>
						<td class="tooltip_title">Author: </td>
						<td class="tooltip_value"><a href="/maps/author/{{item.author|proper_space}}/" title="Show maps authored by {{item.author|strip_tags}}">{{ item.author|strip_tags }}</a></td>
					</tr>
					<tr>
						<td class="tooltip_title">Uploader: </td>
						<td class="tooltip_value"><a href="/maps/uploader/{{item.user.username}}/" title="Show maps uploaded by {{item.user.username}}">{{ item.user.username }}</a></td>
					</tr>
				</table>
				<table>
					<tr>
						<td class="tooltip_title_misc">Revision: </td>
						<td class="tooltip_value_misc">{{ item.revision }}</td>
						<td class="tooltip_title_misc">Players: </td>
						<td class="tooltip_value_misc">{{ item.players }}</td>
					</tr>
					<tr>
						<td class="tooltip_title_misc">Comments: </td>
						<td class="tooltip_value_misc">{{ comments|amount_comments:item.id }}</td>
						<td class="tooltip_title_misc">Rating: </td>
						<td class="tooltip_value_misc">{{ item.rating }}</td>
					</tr>
				</table>
			</div>
		</div>
	{% endfor %}
	<div class="clear"></div>
</div>
{% if 2 in range %}
<div id="paging">
	{% for i in range %}
		<div class="paging_cell">
		{% if i <= 3 or i >= range|length|add:"-2" or i < page|add:"3" and i > page|add:"-3" or i == 4 and page == 7 or i == range|length|add:"-3" and page == range|length|add:"-6" %}
			{% if page == i %}
				<span>{{ i }}</span>
			{% else %}
				<a href="/maps/duplicates/{{maphash}}/page/{{i}}/">{{ i }}</a>
			{% endif %}
		{% else %}
			{% if i < page %}
				<span class='no-page-before hide_block'>...</span>
			{% else %}
				<span class='no-page-after hide_block'>...</span>
			{% endif %}
		{% endif %}
		</div>
	{% endfor %}
</div>
{% endif %}
<div class="clear"></div>
{% endif %}
