{% load customTags %}
<section class="m-4">
	<h3><i class="fas fa-map"></i> Maps search</h3>
	<div class='form m-4'>
		{% include 'map_filters.html' %}
	</div>

	<div class='m-4'>
		<h3>Found {{ amount }} maps{% if page > 1 %} ( page {{page}} ){% endif %}</h3>
	</div>
	{% if amount != 0 %}
	<div class="m-4 row">
		{% for item in maps %}
			{% include 'maps_card.html' %}
		{% endfor %}
	</div>
	
	{% else %}
	<div class="m-4 row">
		<div class="col-12">Nothing found.</div>
	</div>
	{% endif %}

	{% if 2 in range %}
	<div class="m-4">
		{% for i in range %}
			<div class="paging_cell">
			{% if i <= 3 or i >= range|length|add:"-2" or i < page|add:"3" and i > page|add:"-3" or i == 4 and page == 7 or i == range|length|add:"-3" and page == range|length|add:"-6" %}
				{% if page == i %}
					<span>{{ i }}</span>
				{% else %}
					{% if request.META.QUERY_STRING %}
						<a href="/maps/page/{{i}}/?{{request.META.QUERY_STRING}}">{{ i }}</a>
					{% else %}
						<a href="/maps/page/{{i}}/">{{ i }}</a>
					{% endif %}
				{% endif %}
			{% else %}
				{% if i < page %}
					<span class='no-page-before hide_block'>...</span>
				{% else %}
					<span class='no-page-after hide_block'>...</span>
				{% endif %}
			{% endif %}
			</div>
		{% endfor %}
	</div>
{% endif %}

	<div class='m-4'>
		<p><i class="fas fa-info-circle"></i> Custom maps are stored in the user directories with sub-directories per mod.</p>
		<ul>
			<li><u>Windows:</u> <code>My Documents\OpenRA\maps\&lt;mod name&gt;\</code></li>
			<li><u>Mac OSX:</u> <code>~/Library/Application Support/OpenRA/maps/&lt;mod name&gt;/</code></li>
			<li><u>Linux:</u> <code>~/.openra/maps/&lt;mod name&gt;/</code></li>
		</ul>

		<p>Example:  <code>/home/user/.openra/maps/ra/a_path_beyond.oramap</code></p>
	</div>
</section>
<script>
	function confirmZipDownload(amount)
	{
		var agree = confirm("Are you sure you want to download Zip archive of "+amount+" maps?\n\nFile size might be huge.\n")
		if (agree) return true
		else return false
	}
</script>
