{% load customTags %}


<div class='cBlock'>
	<form name='filter_maps' class='filter_maps' action='{{request.path}}' method='GET'>
		<div class='filter_container'>


			<div class='filter_section'>
				<span class="">Mod:</span>
				<select name="mod" multiple class="noscroll">
					<option value="any" {% if 'any' in selected_filter.mod %}selected{% endif %}>any</option>
					{% for mod in filter_prepare.mods %}
						<option value="{{mod}}" {% if mod in selected_filter.mod %}selected{% endif %}>{{mod|upper}}</option>
					{% endfor %}
				</select>
			</div>

			<div class='filter_section'>
				<span class="">Category:</span>
				<select name="category" multiple class="noscroll">
					<option value="any" {% if 'any' in selected_filter.category %}selected{% endif %}>any</option>
					{% for category in filter_prepare.categories %}
						<option value="{{category}}" {% if category in selected_filter.category %}selected{% endif %}>{{category}}</option>
					{% endfor %}
				</select>
			</div>

			<div class='filter_section'>
				<span class="">Format:</span>
				<select name="format" multiple class="noscroll">
					<option value="any" {% if 'any' in selected_filter.format %}selected{% endif %}>any</option>
					{% for format in filter_prepare.formats %}
						<option value="{{format}}" {% if format in selected_filter.format %}selected{% endif %}>{{format}}
					{% endfor %}
				</select>
			</div>

			<div class='filter_section'>
				<span class="">Parsed by:</span>
				<select name="parser" multiple class="noscroll">
					<option value="any" {% if 'any' in selected_filter.parser %}selected{% endif %}>any</option>
					<option value="bleed" {% if 'bleed' in selected_filter.parser %}selected{% endif %}>bleed (any)</option>
					{% for parser in filter_prepare.parsers %}
						<option value="{{parser}}" {% if parser in selected_filter.parser %}selected{% endif %}>{{parser}}</option>
					{% endfor %}
				</select>
			</div>

			<div class='filter_section'>
				<span class="">Tileset:</span>
				<select name="tileset" multiple class="noscroll">
					<option value="any" {% if 'any' in selected_filter.tileset %}selected{% endif %}>any</option>
					{% for tileset in filter_prepare.tilesets %}
						<option value="{{tileset}}" {% if tileset in selected_filter.tileset %}selected{% endif %}>{{tileset}}</option>
					{% endfor %}
				</select>
			</div>


			<div class='clear'></div>


			<div class='filter_end'>

				<div class='filter_section'>
					<div class='filter_sort_by'>
						<span class="">Sort by:</span>
						<select name="sort_by">
							{% for sorting in filter_prepare.sort_by %}
								<option value="{{sorting.0}}" {% if sorting.0 in selected_filter.sort_by %}selected{% endif %}>{{sorting.1}}</option>
							{% endfor %}
						</select>
					</div>

					<div class="filter_apply">
						<button type="submit">Apply Filter/Sorting</button>
					</div>
				</div>

				<div class='filter_section filter_checks'>

					<div class='filter_section_checks'>
						<input type='checkbox' {% if selected_filter.show_all_revisions == 'on' %}checked{% endif %} name='show_all_revisions'>
						<span class="">Show all revisions</span>
						<br />
						<input type='checkbox' name='show_with_reports' {% if selected_filter.show_with_reports == 'on' %}checked{% endif %}>
						<span class="">Show only with reports</span>
						<br />
						<input type='checkbox' name='with_duplicates' {% if selected_filter.with_duplicates == 'on' %}checked{% endif %}>
						<span class="">With duplicates</span>
					</div>

					<div class='filter_section_checks'>
						<input type='checkbox' name='only_advanced' {% if selected_filter.only_advanced == 'on' %}checked{% endif %}>
						<span class="">Only Advanced</span>
						<br />
						<input type='checkbox' name='only_lua' {% if selected_filter.only_lua == 'on' %}checked{% endif %}>
						<span class="">Only Lua</span>
						<br />
						<input type='checkbox' name='outdated' {% if selected_filter.outdated == 'on' %}checked{% endif %}>
						<span class="">Outdated</span>
					</div>

				</div>

				<div class='filter_section'>
					<span class="">Maps with problems:</span>
					<select name="with_problems">
						{% for problem in filter_prepare.with_problems %}
							<option value="{{problem.0}}" {% if problem.0 in selected_filter.with_problems %}selected{% endif %}>{{problem.1}}</option>
						{% endfor %}
					</select>

					<br />

					<span class="">Players:</span>
					<input type='text' placeholder='any' name='players' {% if selected_filter.players %}value="{{selected_filter.players}}"{% endif %}>
				</div>

			</div>

		</div>
	</form>
</div>





<div class='cBlock no-pd-bot map-grid-header-info'>
	<h3>Found {{ amount }} maps{% if page > 1 %} ( page {{page}} ){% endif %}</h3>
</div>
{% if amount != 0 %}
<div id="map_grid">
	{% for item in maps %}
		<div class="map_grid_cell">
			<a href="/maps/{{item.id}}/">
				<div class="cell-link-container">
					<div><img src="/maps/{{item.id}}/minimap" alt="{{item.id}}" /></div><div class="link_title">{{ item.title|strip_tags }}</div>
				</div>
				{% if item.downloading == False or item.amount_reports >= 3 %}
				<div class="map-custom-status"><img src="/static/images/attention-mini.jpg" alt="attention" /></div>
				{% endif %}
				{% if item.advanced_map %}
				<div class="map-custom-status"><img src="/static/images/advanced-mini.jpg" alt="advanced" /></div>
				{% endif %}
				{% if item.lua %}
				<div class="map-custom-status"><img src="/static/images/lua-mini.jpg" alt="lua" /></div>
				{% endif %}
			</a>
			<div class="map_tooltip">
				<div class="map_tooltip_mod mod_{{ item.game_mod }}">{{ item.game_mod|upper }}</div>
				<table>
					{% if item.author %}
					<tr>
						<td class="tooltip_title">Author: </td>
						<td class="tooltip_value"><a href="/maps/author/{{item.author|proper_space}}/" title="Show maps authored by {{item.author|strip_tags}}">{{ item.author|strip_tags }}</a></td>
					</tr>
					{% endif %}
					<tr>
						<td class="tooltip_title">Uploader: </td>
						<td class="tooltip_value"><a href="/maps/uploader/{{item.user.id}}/" title="Show maps uploaded by {{item.user.username}}">{{ item.user.username }}</a></td>
					</tr>
				</table>
				<table>
					<tr>
						<td class="tooltip_title_misc">Revision: </td>
						<td class="tooltip_value_misc">{{ item.revision }}</td>
						<td class="tooltip_title_misc">Players: </td>
						<td class="tooltip_value_misc">{{ item.players }}</td>
					</tr>
					<tr>
						<td class="tooltip_title_misc">Comments: </td>
						<td class="tooltip_value_misc">{{ comments|amount_comments:item.id }}</td>
						<td class="tooltip_title_misc">Rating: </td>
						<td class="tooltip_value_misc">{{ item.rating }}</td>
					</tr>
				</table>
			</div>
		</div>
	{% endfor %}
	<div class="clear"></div>
</div>
{% if 2 in range %}
<div id="paging">
	{% for i in range %}
		<div class="paging_cell">
		{% if i <= 3 or i >= range|length|add:"-2" or i < page|add:"3" and i > page|add:"-3" or i == 4 and page == 7 or i == range|length|add:"-3" and page == range|length|add:"-6" %}
			{% if page == i %}
				<span>{{ i }}</span>
			{% else %}
				{% if request.META.QUERY_STRING %}
					<a href="/maps/page/{{i}}/?{{request.META.QUERY_STRING}}">{{ i }}</a>
				{% else %}
					<a href="/maps/page/{{i}}/">{{ i }}</a>
				{% endif %}
			{% endif %}
		{% else %}
			{% if i < page %}
				<span class='no-page-before hide_block'>...</span>
			{% else %}
				<span class='no-page-after hide_block'>...</span>
			{% endif %}
		{% endif %}
		</div>
	{% endfor %}
</div>
{% endif %}
<div class="clear"></div>
{% endif %}
<div class="features">
	<form class="maps_page_buttons_form" method="GET" action="/maps/random/">
		<button class="maps_page_buttons" type="submit">Random Map</button>
	</form>
	<form class="maps_page_buttons_form" method="GET" action="/maps/mostCommented/">
		<button class="maps_page_buttons" type="submit">Most Commented</button>
	</form>
</div>
{% if amount and amount <= 1000 %}
	<div class="features">
		<div class='cBlock no-pd-bot no-pd-top'>
			<p>
				{% if request.META.QUERY_STRING %}
					<a href="/maps/zip/?{{request.META.QUERY_STRING}}" title='Download filtered result as zip archive' onClick='return confirmZipDownload("{{amount}}")'>Download filtered result as zip archive ({{amount}} maps)</a>
				{% else %}
					<a href="/maps/zip/" title='Download filtered result as zip archive' onClick='return confirmZipDownload("{{amount}}")'>Download filtered result as zip archive ({{amount}} maps)</a>
				{% endif %}
			</p>
		</div>
	</div>
{% endif %}

<div class='cBlock map-store-info'>
	<p>Custom maps are stored in the user directories with sub-directories per mod.</p>
	<ul>
		<li><u>Windows:</u> My Documents\OpenRA\maps\&lt;mod name&gt;\</li>
		<li><u>Mac OSX:</u> ~/Library/Application Support/OpenRA/maps/&lt;mod name&gt;/</li>
		<li><u>Linux:</u> ~/.openra/maps/&lt;mod name&gt;/</li>
	</ul>

	<p>Example:  /home/user/.openra/maps/ra/a_path_beyond.oramap</p>
</div>

<script>
	function confirmZipDownload(amount)
	{
		var agree = confirm("Are you sure you want to download Zip archive of "+amount+" maps?\n\nFile size might be huge.\n")
		if (agree) return true
		else return false
	}
</script>