{% load customTags %}
<section class="m-4">

	<h3>Found {{ amount }} revisions{% if page > 1 %} ( page {{page}} ){% endif %}</h3>
	{% if amount != 0 %}
	<div class="m-4 row">
		{% for item in maps %}
			{% include 'maps_card.html' %}
		{% endfor %}
	</div>
	{% if 2 in range %}
	<div id="paging">
		{% for i in range %}
			<div class="paging_cell">
			{% if i <= 3 or i >= range|length|add:"-2" or i < page|add:"3" and i > page|add:"-3" or i == 4 and page == 7 or i == range|length|add:"-3" and page == range|length|add:"-6" %}
				{% if page == i %}
					<span>{{ i }}</span>
				{% else %}
					<a href="/maps/{{arg}}/revisions/page/{{i}}">{{ i }}</a>
				{% endif %}
			{% else %}
				{% if i < page %}
					<span class='no-page-before hide_block'>...</span>
				{% else %}
					<span class='no-page-after hide_block'>...</span>
				{% endif %}
			{% endif %}
			</div>
		{% endfor %}
	</div>
{% endif %}
</section>
{% endif %}