<section id="profile_container" class="p-4">
	<div class="row">
		<div class="col-4">
			<nav class="side_nav">
				<ul>
					<li><a href="/accounts/profile/" {% if '/accounts/profile/' in request.path %}{{'class="nav-selected"'}}{% endif %}>Summary</a></li>
					<li><a href="/comments/user/{{request.user.id}}/">My comments</a></li>
				</ul>
			</nav>
		</div>
		<div class="col-8">
			{% if '/accounts/profile/' in request.path %}
				<div class="profile_row m-2">
					<i class="fas fa-user"></i> Username: {% if user.is_authenticated %} {{ user }} {% endif %}
				</div>

				<div class="profile_row m-2">
					<i class="fas fa-envelope"></i> Email:
					{% if user.email %}
						 {{ user.email }} 
					{% else %}
						<a href="/accounts/email/">Add Email</a> (recommended)
					{% endif %}
				</div>

				{% if ifsocial == False %}
				<div class="profile_row m-2">
					<div class="label"><i class="fas fa-key"></i> Password:**************** <a href="/accounts/password/reset/">(change)</a></div>
				</div>
				{% endif %}

			<div class="content_row m-2">
				<p>Account created on {% if user.is_authenticated %} {{ user.date_joined }} {% endif %}</p>
				<section>{% if user.is_authenticated %} You have uploaded {{ amountMaps }} maps {% endif %}</section>
			</div>
			{% endif %}
		</div>
	</div>
</section>