<div class='cBlock'>
{% if global_search_request.maps.amount == 0 %}
<span>Nothing found</span>
{% else %}
	{% if global_search_request.maps.hash %}
		
		<h3><i class="far fa-map"></i> Matches in Map HASH:</h3>
		{% for item in global_search_request.maps.hash %}
		<article class="map">
			<div class="map-left">
				<h4>Map name: {{item.title}}</h4>
				<p><i class="far fa-user"></i>  author: <span class="map-left-author">{{item.author}}</span></p>
			</div>
			<div class="map-right">
				<p>Map preview</p>
				<a href="/maps/{{item.id}}/"><img src="/maps/{{item.id}}/minimap" /></a><br />
			</div>
		</article>
		{% endfor %}
		
	{% endif %}

	{% if global_search_request.maps.title %}
		<h3><i class="far fa-map"></i> Matches in Map Title:</h3>
		{% for item in global_search_request.maps.title %}
		<article class="map">
			<div class="map-left">
				<h4>Map name: {{item.title}}</h4>
				<p><i class="far fa-user"></i>  author: <span class="map-left-author">{{item.author}}</span></p>
			</div>
			<div class="map-right">
				<p>Map preview</p>
				<a href="/maps/{{item.id}}/"><img src="/maps/{{item.id}}/minimap" /></a><br />
			</div>
		</article>
		{% endfor %}
	{% endif %}

	{% if global_search_request.maps.info.0 or global_search_request.maps.info.1 %}
		<h3><i class="far fa-map"></i> Matches in Map Info:</h3>
		{% for item in global_search_request.maps.info.0 %}
		<article class="map">
			<div class="map-left">
				<h4>Map name: {{item.title}}</h4>
				<p><i class="far fa-user"></i>  author: <span class="map-left-author">{{item.author}}</span></p>
			</div>
			<div class="map-right">
				<p>Map preview</p>
				<a href="/maps/{{item.id}}/"><img src="/maps/{{item.id}}/minimap" /></a><br />
			</div>
		</article>
		{% endfor %}
		{% for item in global_search_request.maps.info.1 %}
		<article class="map">
			<div class="map-left">
				<h4>Map name: {{item.title}}</h4>
				<p><i class="far fa-user"></i>  author: <span class="map-left-author">{{item.author}}</span></p>
			</div>
			<div class="map-right">
				<p>Map preview</p>
				<a href="/maps/{{item.id}}/"><img src="/maps/{{item.id}}/minimap" /></a><br />
			</div>
		</article>
		{% endfor %}
	{% endif %}

	{% if global_search_request.maps.author %}
		<h3><i class="far fa-map"></i> Matches in Map Author:</h3>
		{% for item in global_search_request.maps.author %}
		<article class="map">
			<div class="map-left">
				<h4>Map name: {{item.title}}</h4>
				<p><i class="far fa-user"></i>  author: <span class="map-left-author">{{item.author}}</span></p>
			</div>
			<div class="map-right">
				<p>Map preview</p>
				<a href="/maps/{{item.id}}/"><img src="/maps/{{item.id}}/minimap" /></a><br />
			</div>
		</article>
		{% endfor %}
	{% endif %}

{% endif %}
</div>