<script>
	$(document).ready(function() {
		$('.parser option:first-child').attr("selected", "selected");

		$('.parser option:first-child').append(' (the latest published)')
	});
</script>

<div class='cBlock no-pd-bot'>
	<h3 class='center'>Upgrade map: <a href="/maps/{{map.id}}/" title="{{map.title}}" target="_blank">{{map.title}}</a></h3>
</div>

{% if no_effect %}
	<div class='cBlock no-pd-bot'>
		<p class='center'>Can't upgrade. Please select newer version of OpenRA engine.</p>
	</div>
{% endif %}

{% if failed_to_upgrade %}
	<div class='cBlock no-pd-bot'>
		<p class='center'>Failed to upgrade. <a href="https://github.com/OpenRA/OpenRA-Resources/issues/" target="_blank">Report</a> this if you can't find the reason.</p>
	</div>
{% endif %}

<form action="/maps/{{map.id}}/upgrade/" method="POST">{% csrf_token %}

	<div class='cBlock'>

		<div class='upgrade_map_col'>

			<h4>Parsed with: {{map.parser}}</h4>
			<p>Here you can upgrade your map to newer OpenRA engine version.</p>
			<p>Upgrade is available:</p>
			<ul>
				<li>if map was parsed by a compatible engine version</li>
				<li>if it's the latest revision of the map</li>
				<li>if there is newer OpenRA engine version compared to one that your map was parsed by</li>
			</ul>
		</div>

		<div class='upgrade_map_col'>
			<p>Select OpenRA version:</p>
			<select class="parser" name="upgrade_to_parser" size="1">
				{% for parser in parsers %}
					<option value="{{ parser }}">{{ parser }}</option>
				{% endfor %}
			</select>
			<p></p>
			<button type="submit">Upgrade Map</button>
			<p><b>To upgrade, select higher version.</b></p>
			<p>Successfull upgrade will create new revision of your map.</p>
		</div>

	</div>

</form>
