{% if user.is_authenticated %}

	<script>
		$(document).ready(function() {

			$('.upload-replay-form-parser option:first-child').attr("selected", "selected");

			$('.upload-replay-form-parser option:first-child').append(' (the latest published)')

			$('.upload-replay-form-parser option:contains("bleed")').append( ' (development)')
		});
	</script>

	<div class='cBlock no-pd-bot'>
		<div class="upload_container">
			<h3>Upload your Replay (.orarep) file</h3>
		</div>
	</div>

	<form action="/upload/replay/" method="POST" enctype="multipart/form-data">{% csrf_token %}
		<div class='cBlock'>
			<div class='upload-replay-form-left'>

				<div class='upload-replay-form-info'>
					<textarea class="replay_info" name="replay_info" placeholder="Additional replay information" title="Additional replay information"></textarea>
				</div>

				<div class='upload-replay-form-file'>
					<input class="replay_file" name="replay_file" type="file">
					<button type="submit">Upload</button>
				</div>

			</div>

			<div class='upload-replay-form-right'>

				<div class='upload-replay-form-parser'>
					Parse with OpenRA version:<br />
					<select name="parser" size="4">
						{% for parser in parsers %}
							{% if parser == 'bleed' %}
								<option value="{{ bleed_tag }}">bleed ({{ bleed_tag }})</option>
							{% else %}
								<option value="{{ parser }}">{{ parser }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>

			</div>
		</div>
	</form>

	{% if response.error == True %}
		{% for key, value in response.items %}
			{% if key == 'response' %}
				<div class='cBlock'>
					<p>Error:</p>
					<p>{{value}}</p>
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}

{% endif %}