{% if user.is_authenticated %}
<section class="upload m-4">
	{% if previous_rev == 0 %}
		<h3>Upload your ORAMAP or MPR(INI)<span class='text-danger'>*</span> file</h3>
	{% else %}
		<h3>Upload revision {{rev}} of <a href="/maps/{{previous_rev}}/" title="{{previous_rev_title}}">map {{previous_rev}}</a></h3>
	{% endif %}


	<form action={{ '/upload/map/' }}{% if previous_rev != 0 %}{{ previous_rev }}{% endif %} method="POST" enctype="multipart/form-data">{% csrf_token %}
		<div class='form-group pb-2'>

				<div class="row">
					<div class="col">
						<label for="description">Map description</label>
						<textarea class="form-control id_info" id="description" rows="3" name="info" placeholder="Description" title="Description"> </textarea>
						<div class="row align-items-center">
							<div class="col">
								<label for="exampleFormControlFile1">Select map</label>
								<input type="file" name="file" class="form-control-file id_file" id="exampleFormControlFile1">
							</div>
							<div class="col align-self-center text-right">
								<button class="btn btn-primary" type="submit">
									<i class="fas fa-upload"></i> Upload
								</button>
							</div>
						</div>
					</div>
					<div class="col text-center ">
						<div class='upload-map-form-parser w-50 mr-auto ml-auto'>
							<label for="parser">Parse with OpenRA version<span class="text-danger">**</span>:</label><br />
							<select name="parser" class="form-control" size="4">
								{% for parser in parsers %}
									<option value="{{ parser }}">{{ parser }}</option>
								{% endfor %}
							</select>
						</div>		
					</div>
				</div>

		</div>

		{% if previous_rev == 0 %}
		<div class="form-group pb-2">
			<p class="m-0">	Use a Creative Commons license (<a target="_blank" href="https://creativecommons.org/">More details</a>)?</p>
			<div class="form-check form-check-inline license_cc">
				<input class="form-check-input" name="policy_cc" type="radio" value="cc_yes" !checked>
				<label class="form-check-label">Yes</label>
			</div>
			<div class="form-check  form-check-inline license_cc">
				<input class="form-check-input" name="policy_cc" checked="checked" type="radio" value="cc_no" checked> 
				<label class="form-check-label">No</label>
			</div>
		</div>
		<div class="form-group pb-2 license_options" >
			<p class="m-0">Allow commercial uses of your work?</p>
			<div class="form-check form-check-inline license_com">
				<input class="form-check-input" name="commercial" type="radio" value="com_yes">
				<label class="form-check-label">Yes</label>
			</div>
			<div class="form-check  form-check-inline license_com">
				<input class="form-check-input" name="commercial" checked="checked" type="radio" value="com_no"> 
				<label class="form-check-label">No</label>
			</div>
		</div>
		<div class="form-group pb-2 license_options" >
			<p class="m-0">	Allow modifications of your work?</p>
			<div class="form-check form-check-inline license_adaptations">
				<input class="form-check-input" name="adaptations" type="radio" value="adapt_no">
				<label class="form-check-label">Yes</label>
			</div>
			<div class="form-check form-check-inline license_adaptations">
				<input class="form-check-input" name="adaptations" type="radio" value="adapt_alike">
				<label class="form-check-label">Yes, as long as others share alike</label>
			</div>
			<div class="form-check  form-check-inline license_adaptations">
				<input class="form-check-input" name="adaptations" checked="checked" type="radio" value="adapt_no"> 
				<label class="form-check-label">No</label>
			</div>
		</div>
		{% endif %}
	</form>
	{% if error_response %}
	<div class="alert alert-danger" role="alert">
		<p>Error:</p>
		<p>{{error_response}}</p>
		{% if uid %}
			<p><a href={{ '/maps/' }}{{ uid }}{{'/'}}>
			<img src={{ '/maps/' }}{{ uid }}{{ '/minimap' }} /></a></p>
		{% endif %}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
	</div>
	{% endif %}

	{% if previous_rev == 0 %}
	<div class='upload-map-form-stars'>
		<span class='red'>*</span>&nbsp;&nbsp;&nbsp;<span>Format of original Red Alert maps (MPR, INI); will automatically import it during uploading</span><br />
		<span class='red'>**</span>&nbsp;&nbsp;<span>Choose version the map was created for. If a newer version of OpenRA is available, you will be able to update the map after uploading using the <b>Upgrade Map</b> button.</span>
	</div>
	{% endif %}
</section>
	
<script>
	window.addEventListener('load',function(){
		const inputYes = document.querySelector("input[value='cc_yes'");
		const licenseOptions = document.getElementsByClassName("license_options");
		Array.from(licenseOptions).forEach((option)=>{
			option.classList.add('d-none');
		})
		inputYes.addEventListener('click',function(){
			Array.from(licenseOptions).forEach((option)=>{
				if(option.classList.contains('d-none')){
					option.classList.remove('d-none');
					option.classList.add('d-block');
				}
			})
		})
		const inputNo = document.querySelector("input[value='cc_no'");
		inputNo.addEventListener('click',function(){
			Array.from(licenseOptions).forEach((option)=>{
				if(option.classList.contains('d-block')){
					option.classList.remove('d-block');
					option.classList.add('d-none');
				}
			})
		})
	})
</script>
{% endif %}
