        <div id="panel_content">
            <nav class="side_nav">
                <ul>
                    <li><a href="/panel/" {% if '/panel/' == request.path %}{{'class="nav-selected"'}}{% endif %}>Upload</a></li>
                    <li><a href="/panel/mymaps/" {% if '/panel/mymaps/' in request.path %}{{'class="nav-selected"'}}{% endif %}>My Maps ({{ amount_maps }})</a></li>
                    <li><a style="opacity: 0.5;" href="#" {% if '/panel/myunits/' == request.path %}{{'class="nav-selected"'}}{% endif %}>My Units (0)</a></li>
                    <li><a style="opacity: 0.5;" href="#" {% if '/panel/mymods/' == request.path %}{{'class="nav-selected"'}}{% endif %}>My Mods (0)</a></li>
                    <li><a style="opacity: 0.5;" href="#" {% if '/panel/mypalettes/' == request.path %}{{'class="nav-selected"'}}{% endif %}>My Palettes (0)</a></li>
                    <li><a style="opacity: 0.5;" href="#" {% if '/panel/myscreenshots/' == request.path %}{{'class="nav-selected"'}}{% endif %}>My Screenshots (0)</a></li>
                </ul>
            </nav>

            <div class="side_nav_content">
            {% if '/panel/' == request.path %}
                <a href="/maps/upload/">Upload</a>
            {% endif %}
            {% if '/panel/mymaps/' in request.path %}
                {% if amount_maps != 0 %}
                <div id="map_grid">
                {% for item in maps %}
                    <div id="map_grid_cell">
                        <a href="http://{{http_host}}/maps/{{item.id}}">
                            <div class="cell-link-container">
                                <div><img src="/maps/{{item.id}}/minimap" /></div><div class="link_title">{{ item.title }}</div>
                            </div>
                        </a>
                        <div class="map_tooltip">
                            <div class="map_tooltip_mod mod_{{ item.game_mod }}">{{ item.game_mod|upper }}</div>
                            <table>
                                <tr>
                                    <td class="tooltip_title">Author: </td>
                                    <td class="tooltip_value">{{ item.author }} </td>
                                </tr>
                                <tr>
                                    <td class="tooltip_title">Revision: </td>
                                    <td class="tooltip_value">{{ item.revision }}</td>
                                </tr>
                                <tr>
                                    <td class="tooltip_title">Players: </td>
                                    <td class="tooltip_value">{{ item.players }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="clear"></div>
                {% if 2 in range %}
                <div id="paging">
                    {% for i in range %}
                    <div id="paging_cell">
                    {% if i == page %}
                        <span>{{ i }}</span>
                    {% else %}
                        <a href="http://{{http_host}}/panel/mymaps/page/{{i}}">{{ i }}</a>
                    {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endif %}
            {% endif %}
            </div>
        </div>