            <div id="map_data_container">
                <div class="left_map_content">
                    <div class="map_title">{{ map.title }}</div>
                    {% if map.advanced_map %}
                    <div class="map_options">Map is <b>Advanced</b> 
                        {% if map.lua %}
                            and contains <b>Lua</b> logic
                        {% endif %}
                    </div>
                    {% endif %}
                    <div class="map_description"><div class="map_label">Description</div>{{ map.description|default:"No description :(" }}</div>
                    <div class="map_info">{{ map.info|default:"" }}</div>
                </div>
                <div class="right_map_content">
                    <div class="map_image_container">
                        <div class="map_image">
                        {% if fullPreview %}
                            <a href={{ '/maps/' }}{{ arg }}{{ '/render' }}><img src={{ '/maps/' }}{{ arg }}{{ '/render' }} /></a>
                        {% else %}
                            <img src={{ '/maps/' }}{{ arg }}{{ '/minimap' }} />
                        {% endif %}
                            <div class="map_dl">
                                <a href={{ '/maps/' }}{{ arg }}{{ '/oramap' }}>Download mapfile</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="bottom_map_content">
                    <div class="left_map_content">
                        <div>
                            {% if license %}
                            <div class="cclImg">
                                <a target="_blank" rel="license" href="http://creativecommons.org/licenses/{{icons}}/4.0/deed.en_US">
                                    <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/{{icons}}/4.0/88x31.png" />
                                </a>
                            </div>
                            <p>This work is licensed under a <a target="_blank" rel="license" href="http://creativecommons.org/licenses/{{icons}}/4.0/deed.en_US">Creative Commons {{license}}</a>.</p>
                            {% if request.user.is_authenticated %}
                                {% if reported == False %}<p><a class="reportCopyright">Report copyright infringement</a></p>{% endif %}
                            {% endif %}
                            <div class="reportMap">
                                <form method="POST" action="/maps/{{map.id}}">{% csrf_token %}
                                    <label>Infringement: </label><input type="checkbox" name="infringement" value="true">
                                    <label>Reason: </label><input type="text" name="reportReason">
                                    <button class="reportMapButton" type="submit">Report</button>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                        <hr />
                        {% if map.next_rev != 0 or map.downloading == False or map.requires_upgrade == True %}
                        <div>
                            <p><b>Attention!</b> Map can't be automatcially downloaded by OpenRA game!<br />
                                {% if map.downloading == False %}<p>Reason: Too many reports</p>{% endif %}
                                {% if map.requires_upgrade == True %}<p>Reason: Requires upgrade, see <a style="text-decoration: underline;" href="/maps/{{arg}}/lintlog">lintlog</a> (Failed for version: {{version}})</p>{% endif %}
                                {% if map.next_rev != 0 %}<p>Reason: There is a newer version of this map</p>{% endif %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="right_map_content">
                        <div class="map_data_label">Mod:</div><div class="map_data_text">{{ map.game_mod|upper }}</div>
                        <div class="map_data_label">Uploader:</div><div class="map_data_text">{{ userid.username }}</div>
                        <div class="map_data_label">Author:</div><div class="map_data_text">{{ map.author }}</div>
                        <div class="map_data_label">Type:</div><div class="map_data_text">{{ map.map_type }}</div>
                        <div class="map_data_label">Size:</div><div class="map_data_text">{{ map.width }} x {{ map.height }}</div>
                        <div class="map_data_label">Max Players:</div><div class="map_data_text">{{ map.players }}</div>
                        <div class="map_data_label">Tileset:</div><div class="map_data_text">{{ map.tileset|capfirst }}</div>
                        <div class="map_data_label">Published:</div><div class="map_data_text">{{ map.posted|date:"M. d - Y" }}</div>
                    </div>
                    <div class="clear"></div>

                    <div class="bottom_map_content">
                        <div class="left_map_content">
                            <table>
                                <tr>
                                    <th>Prev revision</th>
                                    <th><a style="text-decoration: underline;" href="#" title="Show all revisions">Revision</a></th>
                                    <th>Next revision</th>
                                </tr>
                                <tr>
                                    <td>{% if map.pre_rev == 0 %}
                                        It's the first revision
                                        {% else %}
                                            <a href="/maps/{{map.pre_rev}}/"><img src="/maps/{{map.pre_rev}}/minimap" /></a>
                                        {% endif %}</td>
                                    <td>{{ map.revision }}</td>
                                    <td>{% if map.next_rev == 0 %}
                                            {%if map.user_id == request.user.id %}
                                            <a href="#">Upload new revision</a>
                                            {% else %}
                                            It's the latest revision
                                            {% endif %}
                                        {% else %}
                                            <a href="/maps/{{map.next_rev}}/"><img src="/maps/{{map.next_rev}}/minimap" /></a>
                                        {% endif %}</td>
                                </tr>
                                <tr><th colspan="3">Hash</th></tr>
                                <tr><td colspan="3">{{ map.map_hash }}</td></tr>
                            </table>
                        </div>
                        <div class="right_map_content">
                            <div class="map_data_label">Viewed:</div><div class="map_data_text">{{ map.viewed }}</div>
                            <div class="map_data_label">Downloaded</div><div class="map_data_text">{{ map.downloaded }}</div><br /><br />
                            <div class="map_data_label"></div><div class="map_data_text"><a href="#">Show yaml</a></div>
                            <div class="map_data_label"></div><div class="map_data_text">
                                {% if request.user.is_authenticated %}
                                {% if reported == True %}<a href="/maps/{{map.id}}/cancelreport/">Cancel Report</a>
                                {% else %}<a class="report">Report map</a>
                                {% endif %}
                                {% endif %}
                            </div>
                            {% if request.user.is_superuser or map.user_id == request.user.id %}
                            <div class="map_data_label"></div><div class="map_data_text"><a href="#">Edit map</a></div>
                            <div class="map_data_label"></div><div class="map_data_text"><a href="/maps/{{map.id}}/delete/" onClick='return confirmDelete()'>Delete {%if map.user_id == request.user.id %}my {% endif %}map</a></div>
                            {% endif %}
                        </div>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <script>
                function confirmDelete()
                {
                    var agree=confirm('Are you sure you want to delete this map?');
                    if (agree)
                    return true ;
                    else
                    return false ;
                }
                $(function() {
                    $( document ).ready(function() {
                        $(".reportMap").hide();
                    });
                    $(".report").click(function() {
                        $(".reportMap").hide();
                        $(".reportMap input[type='checkbox']").prop('checked', false);
                        $(".reportMap").show(100);
                    });
                    $(".reportCopyright").click(function() {
                        $(".reportMap").hide();
                        $(".reportMap input[type='checkbox']").prop('checked', true);
                        $(".reportMap").show(100);
                    })
                });
            </script>