            {% load customTags %}
            {% load threadedcomments_tags %}
            <div id="map_data_container">
                <div class="left_map_content">

                    <div class="map_title left">
                        <div>
                            <div class="title">{{ map.title }}</div>
                            <div class="author">by {{ map.author }}</div>
                        </div>
                    </div>

                    <div class="map_image_container left">
                        <div class="map_image">
                        {% if fullPreview %}
                            <a href={{ '/maps/' }}{{ arg }}{{ '/render' }}><img src={{ '/maps/' }}{{ arg }}{{ '/render' }} /></a>
                        {% else %}
                            <img src={{ '/maps/' }}{{ arg }}{{ '/minimap' }} alt="minimap" />
                        {% endif %}
                        </div>
                    </div>
                    <div class="clear"></div>

                    <div class="notification_container">
                        {% if map.downloading == False or map.requires_upgrade == True or map.players == 0 or reports|length >= 3 %}
                        <div class="notification map_attention">
                            <label class="x"></label>
                            <div class="notification_label">Attention!</div>
                            <div class="notification_tooltip">
                                <div>This map can't be automatically downloaded by OpenRA game!
                                {% if map.requires_upgrade == True %}
                                    <p>Reason: Requires upgrade, see <a class="showLintLog" data-name="Lint Log">lintlog</a> (Failed for version: {{version}})</p>
                                    <p>Checkout <a href="http://wiki.openra.net/Upgrading-mods-to-a-new-release" target="_blank">upgrade instruction</a></p>
                                {% elif map.downloading == False %}
                                    <p>Reason: Downloading is manually set to False</p>
                                {% elif reports|length >= 3 %}
                                    <p>Reason: More then 2 <a class="allReportsShow">active reports</a>!</p>
                                {% elif map.players == 0 %}
                                    <p>Reason: Map is unplayable! Max slots: 0</p>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if map.advanced_map %}
                        <div class="notification map_advanced">
                            <label class="tick"></label>
                            <div class="notification_label printRulesShow" data-name="Custom Rules">Advanced</div>
                            <div class="notification_tooltip">
                                <div>This map is advanced.<br /><br />Click to see custom Rules.</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if map.lua %}
                        <div class="notification map_lua">
                            <label class="tick"></label>
                            <div class="notification_label">Lua map</div>
                            <div class="notification_tooltip">
                                <div>This map includes Lua scripting logic.
                                    {% for item in luaNames %}
                                    <p><a class="printLua" data-name="{{item}}.lua" title="{{item}}">Display</a> {{item}}.lua or <a href="/maps/{{map.id}}/lua/{{item}}/">download</a> file.</p>
                                    {% endfor %}
                                    <p>Checkout <a href="http://wiki.openra.net/Map-scripting" target="_blank">documentation</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    <div class="map_hash_block cBlockNoPadding">
                        <div class="map_hash_block_element"><a href="/map/hash/{{map.map_hash}}" target='_blank'>API</a></div>
                        <div class="map_hash_block_element"><a href="http://master.openra.net/map_stats?hash={{map.map_hash}}" target="_blank">stats</a></div>
                        <div class="map_hash">{% if duplicates %}<a href="#" title='duplicates'>Ξ</a> {% endif %}<span id="selectHash" onclick="selectText('selectHash')">{{ map.map_hash }}</span></div>
                    </div>

                    {% if map.description and map.description != "Describe your map here" %}
                    <div class="map_description cBlock">
                        <div>
                            <h5>Description:</h5>
                            <p></p>
                            {% autoescape off %}
                            {{ map.description|strip_tags|convert_links }}
                            {% endautoescape %}
                        </div>
                        {% if map.info %}
                        <div class="map_info">
                            {% autoescape off %}
                            {{ map.info|strip_tags|convert_links|linebreaks }}
                            {% endautoescape %}
                        </div>
                        {% endif %}
                    </div>
                    {% else %}
                        {% if map.info %}
                        <div class="map_description cBlock">
                            <div>
                                <h5>Description:</h5>
                                <p></p>
                                {% autoescape off %}
                                {{ map.info|strip_tags|convert_links|linebreaks }}
                                {% endautoescape %}
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                    
                    <div>
                        <div class="editMapInfo popup">
                        <div class="popup-content-wrapper">
                            <div class="closePopup"><label class="x"></label></div>
                            <h3>Edit map info</h3>
                            <form method="POST" action="/maps/{{map.id}}">{% csrf_token %}
                                <div><textarea name="mapInfo" placeholder="Map info">{{map.info}}</textarea></div>
                                <div><button type="submit">Submit</button></div>
                            </form>
                        </div>
                        </div>
                    
                        <div class="allReports popup">
                        <div class="popup-content-wrapper">
                            <div class="closePopup"><label class="x"></label></div>
                            <h3>Reports of {{ map.title }}</h3>
                            {% for item in reports %}
                            <div class="reportRow">
                                <div class="reportUser">{{item.0}} reported on {{item.3}} {% if item.2 == True %} ( &copy; ){% endif %}{% if reported and item.0 == request.user.username %} (<a href="/maps/{{map.id}}/cancelreport/" onClick='return confirmDelete("report")'>cancel</a>){% endif %}</div>
                                {% autoescape off %}
                                <div class="reportMsg">{{item.1|strip_tags|convert_links}}</div>
                                {% endautoescape %}
                            </div>
                            {% endfor %}
                        </div>
                        </div>

                        <div class="reportMap popup">
                        <div class="popup-content-wrapper">
                            <div class="closePopup"><label class="x"></label></div>                                                      
                            <h3>Report this map</h3>
                            <form method="POST" action="/maps/{{map.id}}">{% csrf_token %}
                                <div><textarea name="reportReason" placeholder="Reason"></textarea></div>
                                <div class="checkboxRow"><label>Copyright Infringement: </label><input type="checkbox" name="infringement" value="true"></div>
                                <div><button type="submit">Submit</button></div>
                            </form>
                        </div>
                        </div>

                        <div class="printMisc popup" style="width: 580px; left: 10%; margin-top: -100px; font-size: 0.9em;"><div class="popupContainer"></div>
                        </div>
                        <div class="addScreenshotForm popup"></div>
                    </div>

                    <div class="map_revisions cBlock">
                        <table>
                            <tr>
                                <th>Previous revision</th>
                                <th><a href="/maps/{{map.id}}/revisions/" title="Show all revisions">Revision</a></th>
                                <th>Next revision</th>
                            </tr>
                            <tr>
                                <td>{% if map.pre_rev == 0 %}
                                    Nothing found
                                    {% else %}
                                        <a href="/maps/{{map.pre_rev}}/"><img src="/maps/{{map.pre_rev}}/minimap" alt="minimap" /></a>
                                    {% endif %}
                                </td>
                                <td><h3>{{ map.revision }}</h3></td>
                                <td>{% if map.next_rev == 0 %}
                                        {% if map.user_id == request.user.id or request.user.is_superuser %}
                                        <a href="/upload/map/{{map.id}}/">Upload new revision</a>
                                        {% else %}
                                        It's the latest
                                        {% endif %}
                                    {% else %}
                                        <a href="/maps/{{map.next_rev}}/"><img src="/maps/{{map.next_rev}}/minimap" alt="minimap" /></a>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                    
                    {% if screenshots %}
                    <div class="map_screenshots cBlock highslide-gallery">
                        <h5>Screenshots:</h5>
                        {% for item in screenshots %}
                        <div class="cScreenshot"><a class="highslide" href="/screenshots/{{item.id}}/" onclick="return hs.expand(this, config1)"><img src="/screenshots/{{item.id}}/mini/" alt="screenshot" /></a>
                            {% if request.user.id == item.user_id or request.user.is_superuser %}
                                <br /><span style="font-size: 0.8em; text-align: justify;"><a href="/screenshots/{{item.id}}/delete/" onClick='return confirmDelete("screenshot")'>delete</a></span>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% if shpNames %}
                    <div class="map_shp cBlock">
                        <h5>Preview of embeded SHP files:</h5>
                        {% for item in shpNames %}
                        <div class="cSHP"><img src="/maps/{{arg}}/shp/{{item}}" alt="shp" /></div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <div class="cBlock">
                        {% load threadedcomments_tags %}
                        <h5>Comments [{% get_comment_count for map as amount_of_comments %}{{amount_of_comments}}] for {{ map.title }}:</h5><br />

                        {% get_comment_list for map as comment_list %}
                        {% for comment in comment_list|fill_tree|annotate_tree %}{% ifchanged comment.parent_id %}{% else %}</li>{% endifchanged %}{% if not comment.open and not comment.close %}</li>{% endif %}{% if comment.open %}
                        <ul>{% endif %}
                            <li id="c{{ comment.id }}">
                                <dl class="comment">
                                    <dt>
                                        {{ comment.submit_date }} - {% autoescape off %}{{ comment.name|account_link:comment.user_id }}{% endautoescape %} {% if comment.user == request.user or request.user.is_superuser%}<a href="/deletecomment/{{comment.id}}/maps/{{map.id}}/" onClick='return confirmDelete("comment")' title='delete'>メ</a>{% endif %}
                                    </dt>
                                    <dd>
                                        {{ comment.comment|linebreaks }}
                                    </dd>
                                </dl>
                                {% for close in comment.close %}</li></ul>{% endfor %}
                        {% endfor %}

                        {% if user.is_authenticated %}
                        {% get_comment_form for map as comment_form %}
                        <a name="comments"></a>
                        <form action="/maps/{{map.id}}/#comments" method="post">{% csrf_token %}
                            <input id="id_name" maxlength="50" name="name" type="hidden" value="{{user.username}}"/>
                            <input id="id_email" name="email" type="hidden" value="{{user.email}}"/>
                        <label for="id_comment"></label><textarea cols="40" id="id_comment" name="comment" rows="10"></textarea>

                        {{ comment_form.content_type }}
                        {{ comment_form.timestamp }}
                        {{ comment_form.object_pk }}
                        {{ comment_form.security_hash }}
                        {{ comment_form.parent }}
                        <input id="id_title" maxlength="10" name="title" type="hidden" value='map' />
                        <p>
                        <button type="submit">Post</button>
                        </p>
                        </form>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if license %}
                    <div class="map_license cBlock">
                        <div>
                            <div class="license_img left">
                                <a target="_blank" rel="license" href="http://creativecommons.org/licenses/{{icons}}/4.0/deed.en_US">
                                    <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/{{icons}}/4.0/88x31.png" />
                                </a>
                            </div>
                            <div class="license_text left">Some rights reserved: <a target="_blank" rel="license" href="http://creativecommons.org/licenses/{{icons}}/4.0/deed.en_US" title="External graphics and sounds are not covered by the license">Creative Commons {{license}}</a>. External graphics and sounds are not covered by the license.</div>
                            <div class="clear"></div>
                        {% if request.user.is_authenticated %}
                            {% if reported == False %}
                            <a class="reportCopyright">Report copyright infringement</a>
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="right_map_content">
                    <div class="map_download">
                        <a href="/maps/{{arg}}/oramap" title="{{disk_size}}" class="button">Download</a>
                    </div>
                    <div class="map_data_label">Mod:</div><div class="map_data_text"><span class="mod_{{ map.game_mod }}">{{ map.game_mod|upper }}</span></div>
                    <div class="map_data_label">File Size:</div><div class="map_data_text">{{disk_size}}</div>
                    <div class="map_data_label">Type:</div><div class="map_data_text">{{ map.map_type|upper }}</div>
                    <div class="map_data_label">Uploader:</div><div class="map_data_text">{{ userid.username }}</div>
                    <div class="map_data_label">Players:</div><div class="map_data_text">{{ map.players }}</div>
                    <div class="map_data_label">Tileset:</div><div class="map_data_text">{{ map.tileset|capfirst }}</div>
                    <div class="map_data_label">Size:</div><div class="map_data_text">{{ map.bounds|map_real_size }}</div>
                    <div class="map_data_label">Published:</div><div class="map_data_text">{{ map.posted|date:"M. d - Y" }}</div>
                    <div class="map_data_label">Downloading:</div><div class="map_data_text" title="ingame"><a href="https://github.com/OpenRA/OpenRA-Resources/wiki/Downloading-Status-FAQ" title="In-Game Downloading" target="_blank">{% if map.downloading and reports|length < 3 and map.requires_upgrade == False and map.players != 0 %}allowed{% else %}<span class="integration">!</span>forbidden<span class="integration">!</span>{% endif %}</a></div>
                    <div class="map_data_label">Syncing:</div><div class="map_data_text"><a class="syncing_status" title="Synchronization with Dedicated servers">{% if map.rsync_allow and map.downloading and reports|length < 3 and map.requires_upgrade == False and map.players != 0 %}allowed{% else %}<span class="integration">!</span>forbidden<span class="integration">!</span>{% endif %}</a></div>
                    <br /><br />
                    <div class="map_data_label">Rating:</div><div class="map_data_text">{{ map.rating_score }}</div>
                    <div class="map_data_label">Viewed:</div><div class="map_data_text">{{ map.viewed }}</div>
                    <div class="map_data_label">Downloaded:</div><div class="map_data_text">{{ map.downloaded }}</div><br /><br />
                    <div class="map_data_link"><a class="printYamlShow">show yaml</a></div>
                    <div class="map_data_link"><a class="printMapContent">show archive content</a></div>
                    {% if request.user.is_authenticated %}
                        {% if reported == False %}
                        <div class="map_data_link"><a class="report">report map</a></div>
                        {% endif %}
                        {% if reports %}
                            <div class="map_data_link"><a class="allReportsShow">show reports ({{reports|length}})</a></div>
                        {% endif %}
                    {% else %}
                        {% if reports %}
                            <div class="map_data_link"><a class="allReportsShow">show reports ({{reports|length}})</a></div>
                        {% endif %}
                    {% endif %}
                    {% if request.user.is_superuser or map.user_id == request.user.id %}
                    <div class="map_data_link">
                        <a class="editMapInfoShow" title="additional map info">edit map info</a>
                    </div>
                    <div class="map_data_link">
                        <a class="addScreenshot">add screenshot</a>
                    </div>
                    <div class="map_data_link">
                        <a class="change_downloading_status" href="/maps/{{map.id}}/setdownloadingstatus/" title="Only In-Game Downloading">set downloading {% if map.downloading %}false{% else %}true{% endif %}</a>
                    </div>
                    <div class="map_data_link">
                        <a class="change_sync_status" href="/maps/{{map.id}}/changersyncstatus/" title="Synchronization with Dedicated servers">{% if map.rsync_allow %}forbid{% else %}allow{% endif %} syncing</a>
                    </div>
                    <div class="map_data_link">
                        <a href="/maps/{{map.id}}/delete/" onClick='return confirmDelete("map")'>delete {%if map.user_id == request.user.id %}my {% endif %}map</a>
                    </div>
                    {% endif %}

                    <div class="side_img_links">
                        {% if mapsFromAuthor %}
                        <div>More from <a href="/maps/author/{{map.author|proper_space}}/" title="Author">{{ map.author }}</a>:</div>
                        {% for item in mapsFromAuthor %}
                            <div class="side_img_link"><a title="{{item.title}}" href="/maps/{{item.id}}/"><img src="/maps/{{item.id}}/minimap" alt="minimap" /></a></div>
                        {% endfor %}
                        {% endif %}
                    </div>

                    {% if similarMaps %}
                    <div class="side_img_links">
                        <div>Similar maps:</div>
                        {% for item in similarMaps %}
                        <div class="side_img_link"><a title="{{item.title}} by {{item.author}}" href="/maps/{{item.id}}/"><img src="/maps/{{item.id}}/minimap" alt="minimap" /></a></div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>

            <script>
                function confirmDelete(what)
                {
                    var agree = confirm('Are you sure you want to delete this '+what+'?')
                    if (agree) return true
                    else return false
                }
                $(function() {
                    $("#overlay").on("click", function() {
                        $(this).hide()
                        $(".popup").hide()
                    })

                    $(".closePopup").on("click", function() {
                        $("#overlay").hide()
                        $(".popup").hide()
                    })

                    $(".report").on("click", function() {
                        $(".reportMap input[type='checkbox']").prop('checked', false)
                        $(".reportMap").show().children().children().children('textarea').focus()
                        $("#overlay").show()
                    })

                    $(".reportCopyright").on("click", function() {
                        $(".reportMap input[type='checkbox']").prop('checked', true)
                        $(".reportMap").show().children().children().children('textarea').focus()
                        $("#overlay").show()
                    })

                    $(".editMapInfoShow").on("click", function() {
                        $(".editMapInfo").show().children().children().children('textarea').focus()
                        $("#overlay").show()
                    })

                    $(".allReportsShow").on("click", function() {
                        $(".allReports").show()
                        $("#overlay").show()
                    })

                    $(".printYamlShow").on("click", function() {
                        $(".popupContainer").empty()
                        $(".printMisc").empty()
                        $(".printMisc").append($('<div class="popupContainer"></div>'))
                        $(".printMisc").append($('<div style="position:absolute; margin-left: 240px; margin-top: -365px;"><h3>map.yaml</h3></div>'));
                        $.ajax({
                            url : "/maps/{{map.id}}/yaml/",
                            dataType: "text",
                            success : function (data) {
                                $(".popupContainer").html(data.replace(/\n/g, '<br />').replace(/\t/g, '<span style="padding-left: 20px;"></span>')).append($('<div class="closePopup"><label class="x"></label></div>'));
                                $(".closePopup").on("click", function() {
                                    $("#overlay").hide()
                                    $(".popup").hide()
                                });
                                noScroll("popupContainer");
                            }
                        });
                        $(".printMisc").show()
                        $("#overlay").show()
                    })

                    $(".printRulesShow").on("click", function() {
                        $(".popupContainer").empty()
                        $(".printMisc").empty()
                        $(".printMisc").append($('<div class="popupContainer"></div>'))
                        $(".printMisc").append($('<div style="position:absolute; margin-left: 240px; margin-top: -365px;"><h3>'+$(this).data("name")+'</h3></div>'));
                        $.ajax({
                            url : "/maps/{{map.id}}/rules/",
                            dataType: "text",
                            success : function (data) {
                                $(".popupContainer").html(data.replace(/\n/g, '<br />').replace(/\t/g, '<span style="padding-left: 20px;"></span>')).append($('<div class="closePopup"><label class="x"></label></div>'));
                                $(".closePopup").on("click", function() {
                                    $("#overlay").hide()
                                    $(".popup").hide()
                                });
                                noScroll("popupContainer");
                            }
                        });
                        $(".printMisc").show()
                        $("#overlay").show()
                    })

                    $(".showLintLog").on("click", function() {
                        $(".popupContainer").empty()
                        $(".printMisc").empty()
                        $(".printMisc").append($('<div class="popupContainer"></div>'))
                        $(".printMisc").append($('<div style="position:absolute; margin-left: 240px; margin-top: -365px;"><h3>'+$(this).data("name")+'</h3></div>'));
                        $.ajax({
                            url : "/maps/{{map.id}}/lintlog/",
                            dataType: "text",
                            success : function (data) {
                                $(".popupContainer").html(data.replace(/\n/g, '<br />').replace(/\t/g, '<span style="padding-left: 20px;"></span>')).append($('<div class="closePopup"><label class="x"></label></div>'));
                                $(".closePopup").on("click", function() {
                                    $("#overlay").hide()
                                    $(".popup").hide()
                                });
                                noScroll("popupContainer");
                            }
                        });
                        $(".printMisc").show()
                        $("#overlay").show()
                    })

                    $(".printLua").on("click", function() {
                        $(".popupContainer").empty()
                        $(".printMisc").empty()
                        $(".printMisc").append($('<div class="popupContainer"></div>'))
                        $(".printMisc").append($('<div style="position:absolute; margin-left: 240px; margin-top: -365px;"><h3>'+$(this).data("name")+'</h3></div>'));
                        $.ajax({
                            url : "/maps/{{map.id}}/lua/" + this.title,
                            dataType: "text",
                            success : function (data) {
                                $(".popupContainer").html(data.replace(/\n/g, '<br />').replace(/\t/g, '<span style="padding-left: 20px;"></span>')).append($('<div class="closePopup"><label class="x"></label></div>'));
                                $(".closePopup").on("click", function() {
                                    $("#overlay").hide()
                                    $(".popup").hide()
                                });
                                noScroll("popupContainer");
                            }
                        });
                        $(".printMisc").show()
                        $("#overlay").show()
                    })

                    $(".addScreenshot").on("click", function() {
                        $(".addScreenshotForm").empty()
                        $.ajax({
                            url : "/maps/{{map.id}}/addmapsc/" + this.title,
                            dataType: "text",
                            success : function (data) {
                                $(".addScreenshotForm").html(data);
                                $(".closePopup").on("click", function() {
                                    $("#overlay").hide()
                                    $(".popup").hide()
                                });
                                noScroll("addScreenshotForm");
                            }
                        });
                        $(".addScreenshotForm").show()
                        $("#overlay").show()
                    })
                })
                function selectText(containerid) {
                    if (document.selection) {
                        var range = document.body.createTextRange();
                        range.moveToElementText(document.getElementById(containerid));
                        range.select();
                    } else if (window.getSelection) {
                        var range = document.createRange();
                        range.selectNode(document.getElementById(containerid));
                        window.getSelection().addRange(range);
                    }
                }
            </script>
