<b>What is this website about?</b><br/>
This website has been created to provide OpenRA players a place to download files related to this game such as:
<ul>
<li> Maps (standard & advanced ones (scripted with Lua)</li>
<li> Units (SHP, voxels)</li>
<li> Mods (.oramap)</li>
<li> Palettes (used to create SHPs)</li>
<li> Screenshots (of your best game feats for example)</li>
<li> Assets packages (if you had problems downloading mods from the game)</li>
<li> Replays (to share your best games)</li>
</ul>


<br/><br/>
<b>Why am I obliged to upload my map on this website?</b><br/>
If you created a new map and want to play it with other players, you just have to:
<ul>
<li> Upload it on this website</li>
<li> Create a new game and select your new map</li>
<li> Other players will auto-download the map directly from this website, without doing anything</li>
</ul>


<br/><br/>
<b>What are the rules regarding what I can upload on the site?</b><br/>
<ul>
<li> We ask you to only upload OpenRA related files (for example, no maps for other mods/games please)</li>
<li> You are not allowed to steal someone else's work and publish it here under your name</li>
<li> If you upload someone else's work, make sure you have his/her written permission to do that</li>
<li> You are responsible for everything you upload on this website</li>
</ul>


<br/><br/>
<b>How can I report a Copyright infringement? </b><br/>
Go to the page where you saw the file and click on the link "Report Copyright Infringement" or contact us on our <a href="http://webchat.freenode.net/?channels=openra">IRC channel</a>.
<br/><br/>


<br/><br/>
<b>How can I create a map?</b><br/>
You can find tutorials & documentation on this page of the OpenRA wiki: 
<a href="https://github.com/OpenRA/OpenRA/wiki/Mapping">https://github.com/OpenRA/OpenRA/wiki</a>
<br/><br/>


<br/><br/>
<b>How to create a SHP unit?</b><br/>
You can find a tutorial on this page: 
<a href="https://github.com/OpenRA/OpenRA/wiki/Pixelart">https://github.com/OpenRA/OpenRA/wiki/Pixelart</a>
<br/><br/>


<br/><br/>
<b>Where can I find my relays?</b><br/>
On Windows, replays are located in: C:\Users\Mike\Documents\OpenRA\Replays\  (replace Mike by your Windows username)
<br/>
On Linux, it's located in your (hidden) \username\.openra\ folder
<br/>
On MacOSX, it's located in your ???????????????? folder
<br/><br/>


<br/><br/>
<b>Another question?</b><br/>
answer..
<br/><br/>


<br/><br/>
<b>Another question?</b><br/>
answer..
<br/><br/>


<br/><br/>
<b>Another question?</b><br/>
answer..
<br/><br/>


<br/><br/>
<b>Another question?</b><br/>
answer..
<br/><br/>


<br/><br/>
<b>Another question?</b><br/>
answer..
<br/><br/>


<br/><br/>

