<br/><b>What is this website about?</b><br/>
This website has been created to provide OpenRA community a place to share files related to this game such as:
<ul>
<li> Maps (standard, advanced and missions</li>
<li> Units (SHP, voxels)</li>
<li> Mods (.oramod)</li>
<li> Palettes (used to create SHPs)</li>
<li> Screenshots (for your uploaded maps, units, etc.)</li>
<li> Assets packages (if you had problems downloading content of mods from the game)</li>
<li> Replays</li>
</ul>


<br/><br/>
<b>Why am I obliged to upload my map on this website?</b><br/>
If you created a new map and want to play it with other players, you just have to:
<ul>
<li> Upload it on this website</li>
<li> Create a new game and select your new map</li>
<li> Other players will automatically download the map joining your server</li>
</ul>


<br/><br/>
<b>What are the rules regarding what I can upload on the site?</b><br/>
<ul>
<li> We ask you to upload only OpenRA related files</li>
<li> You are not allowed to steal someone else's work and publish it here under your name</li>
<li> If you upload someone else's work, make sure you have his/her written permission to do this</li>
<li> You are responsible for everything you upload on this website</li>
</ul>


<br/><br/>
<b>How can I report a Copyright infringement?</b><br/>
Go to the page where you saw the file and click on the link "Report Copyright Infringement" or contact us at OpenRA <a  target="_blank" href="http://webchat.freenode.net/?channels=openra">IRC channel</a>
<br/><br/>


<br/><br/>
<b>How can I create a map?</b><br/>
You can find tutorials &amp; documentation at OpenRA wiki page: 
<a target="_blank" href="https://github.com/OpenRA/OpenRA/wiki/Mapping">https://github.com/OpenRA/OpenRA/wiki/Mapping</a>
<br/><br/>


<br/><br/>
<b>How to create a SHP unit?</b><br/>
You can find a tutorial on this page: 
<a target="_blank" href="https://github.com/OpenRA/OpenRA/wiki/Pixelart">https://github.com/OpenRA/OpenRA/wiki/Pixelart</a>
<br/><br/>
<br/><br/>