            <div class="clear"></div>
        </div>  <!-- close id `content` -->

        <div id="footer">
            <div class="copyright">Copyright © 2013-2015 The OpenRA Content Site Developers</div>
            <div class="footer-links">
                <div class="Links"><a href="/links/">Links</a></div>
                <div class="FAQ"><a href="/faq/">FAQ</a></div>
                <div class="Issues"><a target="_blank" href='https://github.com/OpenRA/OpenRA-Resources/issues/'>Issues</a></div>
                <div class="API"><a target="_blank" href='https://github.com/OpenRA/OpenRA-Resources/wiki/MapAPI'>API</a></div>
            </div>
        </div>

    </div>  <!-- close id `container` -->
    <!-- Start of StatCounter Code -->
    <script type="text/javascript">
        var sc_project=9606673;
        var sc_invisible=1;
        var sc_security="94212af9";
        var scJsHost = (("https:" == document.location.protocol) ? "https://secure." : "http://www.");
        document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+ "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript>
        <div class="statcounter">
            <a title="web stats" href="http://statcounter.com/free-web-stats/" target="_blank">
                <img class="statcounter" src="http://c.statcounter.com/9606673/0/94212af9/1/" alt="web stats">
            </a>
        </div>
    </noscript>
    <!-- End of StatCounter Code -->
</body>
</html>