<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=1024" />
    <title>OpenRA Resource Center{{ title }}</title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/news/feed/" rel="alternate" type="application/atom+xml">
    <script>
		function supportsSVG() {
			return !!document.createElementNS && !!document.createElementNS('http://www.w3.org/2000/svg','svg').createSVGRect;
		}
		$(document).ready(function(){
			if (!supportsSVG()) {
				document.documentElement.className += ' no-svg';
					$('img[src$=".svg"]').attr('src', function(){return $(this).attr('src').replace('.svg', '-fallback.png');});
			}
		});
	</script>
</head>
<body>

<div id="rssfeed">
	<a class="feed" href="/news/feed/">Rss feed</a>
	{% if user.is_authenticated %}
		<a class="userManageTop" style="text-decoration: underline;" href="/logout/">Logout</a>
		<a class="userManageTop" style="text-decoration: underline; padding-right: 10px;" href="/profile/">Profile</a>
	{% endif %}
</div>

<div id="container">

<div id="header">
	<h1><img src="/static/images/soviet-logo.svg">OpenRA Resource Center</h1>
</div>

<a id="ghbanner" href="http://open-ra.org" target="_blank" title="Go to OpenRA Official Website">
	<img alt="Visit OpenRA official website" src="/static/images/open-ra-org.svg">
</a>

<form id="quick-search" method="POST" action="/search/">{% csrf_token %}
	<input id="qsearch" type="text" alt="Search maps, units, mods, authors..." title="Search maps, units, mods, authors..." value="Search..." onblur="this.value=!this.value?'Search...':this.value;" onfocus="this.select()" onclick="this.value='';" name="qsearch"></input>
	<input class="btn" type="image" src="/static/images/search.svg" title="Search" name="searchsubmit" alt="Search"></input>
</form>

<ul id="nav">
	<li><a href="/"><span {% if request.path == '/' %}{{ 'class="nav-selected"' }}{% endif %}>Home</span></li>
	<li><a href="/maps/"><span {% if request.path == '/maps/' or request.path == '/maps' %}{{ 'class="nav-selected"' }}{% endif %}>Maps</span></a></li>
	<li><a href="/units/"><span {% if request.path == '/units/' or request.path == '/units' %}{{ 'class="nav-selected"' }}{% endif %}>Units</span></a></li>       
    <li><a href="#"><span>Other<span></a>
        <ul>
            <li class="submenu-top"></li> <!-- do not add any link inside this LI -->
            
            <li class="submenu-1st-link">
            <a href="/mods/"><span {% if request.path == '/mods/' or request.path == '/mods' %}{{ 'class="nav-selected"' }}{% endif %}>Mods</span></a></li>            
            
            <li class="submenu-2nd-link">
            <a href="/palettes/"><span {% if request.path == '/palettes/' or request.path == '/palettes' %}{{ 'class="nav-selected"' }}{% endif %}>Palettes</span></a></li>
            
            <li class="submenu-3nd-link">
            <a href="/screenshots/"><span {% if request.path == '/screenshots/' or request.path == '/screenshots' %}{{ 'class="nav-selected"' }}{% endif %}>Screenshots</span></a></li>

            <li class="submenu-4th-link">
            <a href="/assets/"><span {% if request.path == '/assets/' or request.path == '/assets' %}{{ 'class="nav-selected"' }}{% endif %}>Assets Packages</span></a></li>

            <li class="submenu-5th-link">
            <a href="/replays/"><span {% if request.path == '/replays/' or request.path == '/replays' %}{{ 'class="nav-selected"' }}{% endif %}>Replays</span></a></li>
                
            <li class="submenu-bottom"></li> <!-- do not add any link inside this LI -->
        </ul>
    </li>            
        
	{% if user.is_authenticated %}
		<li><a href="/panel/"><span {% if request.path == '/panel/' or request.path == '/panel' %}{{ 'class="nav-selected"' }}{% endif %}>My Content</span></a></li>
	{% else %}
		<li><a href="/login/"><span {% if request.path == '/login/' or request.path == '/login' %}{{ 'class="nav-selected"' }}{% endif %}>Login</span></a></li>
	{% endif %}
</ul>

<div id="content">
