<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=1024" />
    <title>OpenRA Resource Center</title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/news/atom/" rel="alternate" type="application/atom+xml">
    <script>
		function supportsSVG() {
			return !!document.createElementNS && !!document.createElementNS('http://www.w3.org/2000/svg','svg').createSVGRect;
		}
		$(document).ready(function(){
			if (!supportsSVG()) {
				document.documentElement.className += ' no-svg';
					$('img[src$=".svg"]').attr('src', function(){return $(this).attr('src').replace('.svg', '-fallback.png');});
			}
		});
	</script>
</head>
<body>

<div id="rssfeed">
	<a class="feed" href="/news/feed/">Rss feed</a>
	{% if user.is_authenticated %}
		<a href="/logout/" class="logout">Logout</a>
	{% endif %}
</div>

<div id="container">

<div id="header">
	<h1><img src="/static/images/soviet-logo.svg">OpenRA Resource Center</h1>
</div>

<a id="ghbanner" href="http://open-ra.org" target="_blank" title="Go to OpenRA Official Website">
	<img alt="Visit OpenRA official website" src="/static/images/open-ra-org.svg">
</a>

<form id="quick-search" method="POST" action="/search/">{% csrf_token %}
	<input id="qsearch" type="text" alt="Search maps, units, mods, authors..." title="Search maps, units, mods, authors..." value="Search..." onblur="this.value=!this.value?'Search...':this.value;" onfocus="this.select()" onclick="this.value='';" name="qsearch"></input>
	<input class="btn" type="image" src="/static/images/search.svg" title="Search" name="searchsubmit" alt="Search"></input>
</form>
	
<ul id="nav">
	<li><a href="/">Home</a></li>
	<li><a href="/maps/">Maps</a></li>
	<li><a href="/units/">Units</a></li>
	<li><a href="/mods/">Mods</a></li>
	{% if user.is_authenticated %}
		<li><a href="/panel/">My Content</a></li>
	{% else %}
		<li><a href="/login/">Login</a></li>
	{% endif %}
</ul>
<hr />
<div id="content">
