        <div class="top_content">
            <div id="mainleft">
                <div class="screenshot">
                    {% for item in screenshots %}
                    <a href="/{{item.ex_name}}/{{item.ex_id}}/">
                        <img src="/screenshots/{{item.id}}/mini/" alt="screenshot" />
                    </a>
                    {% endfor %}
                </div>
            </div>

            <div>
                <h2>Share your Content!</h2>
            </div>

            <div>
                <p>OpenRA is a free and open-source RTS game engine that lets you play re-balanced games like C&amp;C: Red Alert, C&amp;C: Tiberian Dawn, Dune 2000...</p>
                <p>The engine allows players to create new mods, add modified versions of units, buildings etc.
                It also offers advanced features for creating maps and missions.</p>
                <p>This website makes distribution of OpenRA related content more comfortable.</p>
            </div>
            <div class="clear"></div>
        </div>

        <div>
            <p>If you created a new map and want to play it with other players, you just have to:</p>
            <ul>
                <li><a href="/maps/upload/">Upload the map here</a>.</li>
                <li>Create a new game and select your map.</li>
                <li>Other players joining can download the map in-game directly from this website.</li>
            </ul>
            <p><b>Note:</b> Some OpenRA dedicated servers are set up to automatically <a href="https://github.com/OpenRA/OpenRA-Resources/wiki/Sync-maps-over-RSYNC-%28for-dedicated-servers%29" target="_blank">synchronize the map folder</a> with the whole archive of this website.</p>
        </div>

        <script>
        (function($){ 
            $.fn.image_fader = function(user_options) {
                var container = $(this);
                var links = container.find("a");
                var linkI = -1;
                var default_options = {
                    path: "",
                    duration: 10000
                };
                var options = $.extend(default_options, user_options);
                var show = function(){
                    linkI ++;
                    if( linkI >= links.size()) linkI = 0;
                    links.eq(linkI).fadeIn(500, delay);
                };
                var delay = function(){
                    links.eq(linkI).animate({opacity:100}, options.duration , hide).addClass("current_link");
                };
                var hide = function(){
                    links.eq(linkI).hide(500, function(){
                        $(this).removeClass("current_link");
                        show();
                    });
                };
                $(links).hide();
                show();
            }
        })(jQuery);
        jQuery(document).ready(function(){
            $(".screenshot").image_fader();
        });
        </script>