{% if not user.is_authenticated %}
<br />
<form action="/login/" method="POST">{% csrf_token %}
<table class="Table">
	<input type="hidden" name="next" value="{{ next|default:"/" }}">
	<tr>
	<td><label for="id_username">Username:</label>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}</td>
	<td>{{ form.username }}</td></tr>
	<tr><td><label for="id_password">Password:</label>{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}</td>
	<td>{{ form.password }}</td>
	</tr>
    <tr><td colspan="2"><hr /></td></tr>
    <tr><td><input type="submit" value="Log in" /></td><td>
		{% if authenticationStatusMessage %}
			<p>{{ authenticationStatusMessage }}</p>
		{% endif %}
		</td>
    </tr>
    <tr><td colspan="2">
		<p>If you don't have an account, you can <a href="/login/register/">sign up</a> for one.</p>
		<!-- TODO <p>If you forgot your password, you can <a href="/login/password/reset/">reset it</a>.</p> -->
	</td></tr>
  </table>
</form>
{% else %}
	<a href="/logout/">Logout</a>
{% endif %}
