{% include 'uploadMenu.html' %}

{% if user.is_authenticated %}

<table class="Table"><tr><td>Upload your oramap file:</td></tr></table>
<form action="/maps/upload/" method="POST" enctype="multipart/form-data">{% csrf_token %}
<table class="Table">
	<tr>
		<td>
			<label for="id_username">Info:</label>{% if form.info.errors %} <span class="error">{{ form.info.errors|join:", " }}</span>{% endif %}
		</td>
		<td>
			{{ form.info }}
		</td>
	</tr>
	<tr>
		<td>
			<label for="id_username">File:</label>{% if form.file.errors %} <span class="error">{{ form.file.errors|join:", " }}</span>{% endif %}
		</td>
		<td>
			{{ form.file }}
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr />
		</td>
	</tr>
	<tr>
		<td>
			<input type="submit" value="Upload" />
		</td>
		<td>
			{% if uploadingLog %}
			{% for line in uploadingLog %}
				<hr />
				{% if line == "Yaml check failed." %}
					<p>{{ line }} See <a href={{ '/maps/' }}{{ uid }}{{ '/lintlog' }}>lintlog</a></p>
				{% else %}
					{% if line == "Failed. You've already uploaded" %}
					 <p>{{ line }} <a href={{ '/maps/' }}{{ uid }}>this map</a> before:</p>
					{% else %}
    					<p>{{ line }}</p>
    				{% endif %}
    			{% endif %}
    		{% endfor %}
			{% endif %}
			{% if uid %}
				<p><a href={{ 'http://' }}{{ request.META.HTTP_HOST }}{{ '/maps/' }}{{ uid }}>
				<img src={{ '/maps/' }}{{ uid }}{{ '/minimap' }} /></a></p>
			{% endif %}
		</td>
	</tr>
</table>
</form>
{% endif %}