            <div id="uptime">
                <script type="text/javascript">
                monitorus_widget_id="1568200280";
                monitorus_widget_TestName="host";
                monitorus_widget_UpYesterday="Uptime yesterday";
                monitorus_widget_AvgYesterday="Average response time yesterday";
                monitorus_widget_UpCurWeek="";
                monitorus_widget_AvgCurWeek="";
                monitorus_widget_UpCurMonth="";
                monitorus_widget_AvgCurMonth="";
                monitorus_widget_selectedCount="3";
                monitorus_widget_location_id="1";
                monitorus_widget_showLocation="true";
                monitorus_widget_width="600";
                monitorus_widget_height="90";
                monitorus_widget_border_color="#74c2e7";
                monitorus_widget_bg_color="#74c2e7";
                monitorus_widget_text_color="#FFFFFF";
                monitorus_widget_header_color="#FFFFFF";
                monitorus_widget_text_size="11px";
                monitorus_widget_header_size="11px";
                monitorus_widget_font_family="Arial";
                </script>
                <script type="text/javascript" src="http://dashboard.monitor.us/publicWidget/widgetControl.js"></script>
                <noscript><a href="http://www.monitor.us">Monitoring by Monitor.Us. Please enable JavaScript to see the report!</a> </noscript>
                <script type="text/javascript">
                monitorus_widget_id="212068772";
                monitorus_widget_TestName="host";
                monitorus_widget_UpYesterday="";
                monitorus_widget_AvgYesterday="";
                monitorus_widget_UpCurWeek="Uptime current week";
                monitorus_widget_AvgCurWeek="Average response time current week";
                monitorus_widget_UpCurMonth="";
                monitorus_widget_AvgCurMonth="";
                monitorus_widget_selectedCount="3";
                monitorus_widget_location_id="1";
                monitorus_widget_showLocation="true";
                monitorus_widget_width="600";
                monitorus_widget_height="90";
                monitorus_widget_border_color="#74c2e7";
                monitorus_widget_bg_color="#74c2e7";
                monitorus_widget_text_color="#FFFFFF";
                monitorus_widget_header_color="#FFFFFF";
                monitorus_widget_text_size="11px";
                monitorus_widget_header_size="11px";
                monitorus_widget_font_family="Arial";
                </script>
                <script type="text/javascript" src="http://dashboard.monitor.us/publicWidget/widgetControl.js"></script>
                <noscript><a href="http://www.monitor.us">Monitoring by Monitor.Us. Please enable JavaScript to see the report!</a> </noscript>
                <script type="text/javascript">
                monitorus_widget_id="652032868";
                monitorus_widget_TestName="host";
                monitorus_widget_UpYesterday="";
                monitorus_widget_AvgYesterday="";
                monitorus_widget_UpCurWeek="";
                monitorus_widget_AvgCurWeek="";
                monitorus_widget_UpCurMonth="Uptime current month";
                monitorus_widget_AvgCurMonth="Average current month";
                monitorus_widget_selectedCount="3";
                monitorus_widget_location_id="1";
                monitorus_widget_showLocation="true";
                monitorus_widget_width="600";
                monitorus_widget_height="90";
                monitorus_widget_border_color="#74c2e7";
                monitorus_widget_bg_color="#74c2e7";
                monitorus_widget_text_color="#FFFFFF";
                monitorus_widget_header_color="#FFFFFF";
                monitorus_widget_text_size="11px";
                monitorus_widget_header_size="11px";
                monitorus_widget_font_family="Arial";
                </script>
                <script type="text/javascript" src="http://dashboard.monitor.us/publicWidget/widgetControl.js"></script>
                <noscript><a href="http://www.monitor.us">Monitoring by Monitor.Us. Please enable JavaScript to see the report!</a> </noscript>
            </div>