{% load i18n %}
{% load account %}
{% load url from future %}

{% include 'header.html' %}
{% block content %}

<h1>{% trans "Sign In" %}</h1>

{% if socialaccount.providers  %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="/accounts/register/">sign up</a>
for a <b>{{site_name}}</b> account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<div id="outer">
<form class="login" method="POST" action="{% url 'account_login' %}">{% csrf_token %}
<div id="row">
<div id="innerCellLeft"><label for="id_username">Username:</label>{% if form.login.errors %}<br /><span style="color: #800000; font-weight: bold;" class="error">{{ form.login.errors|join:", " }}</span>{% endif %}</div>
<div id="innerCellRight">{{ form.login }}</div></div>
<div id="row"><div id="innerCellLeft"><label for="id_password">Password:</label>{% if form.password.errors %}<br /><span style="color: #800000; font-weight: bold;" class="error">{{ form.password.errors|join:", " }}</span>{% endif %}</div>
<div id="innerCellRight">{{ form.password }}</div></div>
<div id="row"><div id="innerCellLeft"><label for="id_remember">Remember Me:  </label>{{ form.remember }}{% if form.remember.errors %}<br /><span style="color: #800000; font-weight: bold;" class="error">{{ form.remember.errors|join:", " }}</span>{% endif %}</div></div>
{% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
{% endif %}
  <div id="row"><div id="innerCellLeft"><a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></div>
  <div id="innerCellRight"><button class="primaryAction" type="submit">{% trans "Sign In" %}</button></div></div>
</form>
</div>

{% endblock %}
{% include 'footer.html' %}