{% load i18n %}
{% load account %}
{% load url from future %}

{% include 'header.html' %}
{% block content %}
            <h2>Sign In</h2>

            <div id="accountsmain">

                <div id="localaccount">    
                <p>Please sign in with your local account.</p>

                    <div class="frame">
                        <form id="login" method="POST" action="{% url 'account_login' %}">{% csrf_token %}
                            {% if form.non_field_errors %}<span style="color: #ff0000; font-weight: bold;" class="error">{{ form.non_field_errors|join:", " }}</span>{% endif %}
                            <div class="row">
                                <div class="innerCellLeft">
                                    <label for="id_username">Username:</label>{% if form.login.errors %}<br />
                                    <span style="color: #ff0000; font-weight: bold;" class="error">{{ form.login.errors|join:", " }}</span>{% endif %}
                                </div>
                                <div class="innerCellRight">{{ form.login }}</div>
                            </div>
                            <div class="row">
                                <div class="innerCellLeft">
                                    <label for="id_password">Password:</label>{% if form.password.errors %}<br />
                                    <span style="color: #ff0000; font-weight: bold;" class="error">{{ form.password.errors|join:", " }}</span>{% endif %}
                                </div>
                                <div class="innerCellRight">{{ form.password }}</div>
                            </div>
                            <div class="row">
                                <div class="innerCellLeft"><label for="id_remember">Remember Me:  
                                </label>{{ form.remember }}{% if form.remember.errors %}
                                <span style="color: #ff0000; font-weight: bold;" class="error">{{ form.remember.errors|join:", " }}</span>{% endif %}</div>
                                <div class="innerCellRight">
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                                </div>
                            </div>
                              <div class="row">
                                <div class="innerCellLeft"><br/>
                                    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                                </div>
                            <div class="innerCellRight">
                                <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
                            </div>
                              </div>
                        </form>
                    </div>
                <br/>
                Don't have an account? <a href="/accounts/register/">Create one now</a>.

                </div>
                
                {% if socialaccount.providers  %}
                {% include "socialaccount/snippets/login_extra.html" %}
                <div id="socialaccounts">
                    <p>Or just log in with one of these social accounts:</p>

                    <div class="frame">
                        <ul id="socialaccounts_providers">
                             {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                        </ul>
                    </div>
                      
                    <br/>
                    You'll just be asked to authorize this website to use your login.
                </div>
                {% endif %}
            </div>
{% endblock %}
{% include 'footer.html' %}