html {
  min-height: 100%;
  box-shadow: 0px 0px 100px rgb(0, 0, 0) inset;
}

body {
  background-color: black;
  background-image: url("/static/images/bg.svg");
  background-attachment:fixed;
  margin: 0; 
  color: #f5f5f5;
  font: 14px/1.3 Helvetica,arial,freesans,clean,sans-serif;
}

.no-svg body {
  background-image: url("/static/images/bg-fallback.png");
}

h1 {
  font-size: 200%;
  font-family: Cambria, Georgia, Times New Roman, Serif; 
}

h2, h3 {
  font-size: 175%;
  font-family: Helvetica,arial,freesans,clean,sans-serif;
  margin: 0 0 10px;
  line-height: 20px;
}

h3 {
  font-size: 125%;
  margin: 0 0 15px;
}

h5 {
  margin: 0;
  font-size: 1em;
}

hr {
  border: 0;
  height: 2px;
  background: #74c2e7;
}

textarea {
   resize: none;
   background-image: url('/static/images/darkbg.svg');
   border: 1px solid #74c2e7;
   color: #fff;
}

.hr-thick {
  border: 0;
  height: 3px;
  background: #74c2e7;
}

.clear {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}

.cBlock {
  border: 1px solid #74c2e7;
  padding: 8px;
  margin: 12px 0 0;
  background: rgba(32, 44, 69, 0.4);
  word-wrap: break-word;
}

.cBlockNoPadding {
  border: 1px solid #74c2e7;
  margin: 12px 0 0;
  background: rgba(32, 44, 69, 0.4);
  word-wrap: break-word;
}
/* Popup */
.popup {
  display: none;
  position: absolute;
  z-index: 1001;
  top: 100px;
  left: 30%;
  width: 400px;
  min-height: 220px;
  padding: 10px 10px 20px 10px;
  background-image: url('/static/images/darkbg.svg'); 
  border: 2px solid #74c2e7;
  border-radius: 3px;
}
.popupContainer {
  width: 580px;
  height: 340px;
  overflow-y: auto;
  margin-top: 20px;
}
  .popup textarea {
    width: 98%;
    height: 98px;
    resize: none;
    background: none repeat scroll 0% 0% rgba(32, 44, 69, 0.4);
    border: 2px solid #74c2e7;
    padding: 2px;
    color: #fff;
    font-family: Arial,helvetica,freesans,clean,sans-serif;
  }
  .popup .checkboxRow {
    padding: 10px 0;
  }
  .popup button[type="submit"] {
    width: 95%;
    position: absolute;
    bottom: 8px;
    left: 10px;
  }
  .popup h3 {
    text-align: center;
  }
  .popup .closePopup {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -12px;
    top: -12px;
    background: #800000;
    border-radius: 8px;
    border: 2px solid #74c2e7;
  }
    .popup .closePopup .x {
      top: 6px;
      left: 5px;
    }
    .popup .closePopup:hover {
      box-shadow: inset 2px 2px 10px #000;
    }

/* Popup overlay */
#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.7);
  display: none;
}

/* Symbol magic */
label.tick {
  cursor: pointer;
  width: 16px;
  height: 16px;
  position: absolute;
  /*
    Might require top and left value
    find .notification label.tick to use
    as an example.
   */
}
  label.tick:after {
    opacity: 1;
    content: '';
    position: absolute;
    width: 11px;
    height: 4px;
    top: 3px;
    left: 2px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
label.x {
  cursor: pointer;
  height: 16px;
  width: 18px;
  position: absolute;
  /*
    Might require top and left value
    find .notification label.tick to use
    as an example.
   */
}
  label.x:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    content: "\d7";
    font-size: 34px; 
    color: #FFF;
    line-height: 16px;
    text-align: center;
  }  

a {
  text-decoration: none;
  color: #95d5f4;
}

a:hover {
  text-decoration: underline;
}

a, a:visited { 
  color: #95d5f4;
}

a img {
  border: none;
}

a.current {
  border-bottom: 3px solid #74c2e7;
}

p.download, .newsDetails {
  margin-top:0;
  margin-bottom:0;
  padding-top:0;
  font-size: 0.8em;
}

table tr td {
  font-size: 0.9em;
}

.features {
  text-align: center;
  display: table;
  margin: 10px auto;
}

#paging {
  text-align: center;
  display: table;
  margin: 10px auto;
}

.paging_cell {
  background: rgba(32, 44, 69, 0.4);
  border: 1px solid #74c2e7;
  display: table-column;
  float: left;
  margin-left: -1px;
}

#paging_celler {
  display: table-cell;
}

.paging_cell a {
  font-size: 0.9em;
  display: block;
  text-decoration: none;
  width: 25px;
  height: 25px;
  line-height: 25px;
  vertical-align: bottom
}

.paging_cell a:hover {
  background: rgba(32, 44, 69, 0.7);
  transition: all 0.6s ease;
  text-decoration: underline;
}

.paging_cell span {
  background: rgba(32, 44, 69, 0.7);
  display: block;
  font-size: 0.9em;
  width: 25px;
  height: 25px;
  font-weight: bold;
  line-height: 25px;
}

#map_grid {
  font-size: 0.9em;
  text-align: center;
  margin-left: 3px;
  position: relative;
}

.map_grid_cell {
  background: rgba(32, 44, 69, 0.4);
  border: 2px solid #74c2e7;
  display: table-column;
  float: left;
  margin-top: -2px;
  margin-left: -2px;
  position: relative;
}

.map_grid_cell a {
  display: block;
  min-height: 170px;
  width: 137px;
  position: relative;
  color: #fff;
}

.cell-link-container {
  text-align: center;
  position: absolute;
  bottom: 4px;
}

.cell-link-container div {
  text-align: center;
  width: 137px;
  word-wrap: break-word;
}

.cell-link-container div.link_title {
  width: 135px;
  padding-left: 1px;
}

.map_grid_cell:hover {
  background: rgba(32, 44, 69, 0.7);
  transition: all 0.6s ease;
}

.map_grid_cell img {
  max-width: 120px;
  max-height: 116px;
  padding: 8px;
}

#rssfeed {
  width: 800px;
  margin: 5px auto;
}

#rssfeed a { text-decoration: none; color: #fff; }
#rssfeed a:visited { text-decoration: none; color: #fff; }
#rssfeed a:hover { text-decoration: none; color: #fff; }

.feed {
  margin: 0px 0px;
  padding: 0px 0px 0px 30px;
  background: url("/static/images/feed-icon16.png") no-repeat scroll 5px center transparent;
  font-weight: bold;
  color: rgb(240, 232, 232);
}

.userManageTop {
  float: right;
  padding-right: 5px;
}

#container {
  width: 800px;
  margin: 0px auto;
  border: 3px solid #74c2e7;
  background: #74c2e7;
  background: rgba(32, 44, 69, 0.4);
  box-shadow: 0px 0px 20px #000;
  margin-bottom: 20px;
}

#header {
  height: 66px;
  border-bottom: solid 3px #74c2e7;
  background: rgba(32, 44, 69, 0.4);
}

#header h1 {
  margin: 0px auto;
  width:555px;
}

#header img {
  vertical-align: middle; 
  margin: -33px 10px;
}

#content {
  padding: 10px 50px;
  position: relative;
  min-height: 360px;
}

#nav {
  list-style-type: none;
  margin: 20px auto;
  width: 80%;
  text-align: left;
}

#nav li {
  display:inline;
  font-size: 1.2em;
  margin: 0 10px;
  padding-bottom: 15px;
  color: white;
  text-decoration: none;
}

#nav span:hover {
  border: solid #74c2e7;
  border-width: 0 0 2px 0;
}

.nav-selected {
  border-bottom: 2px solid #74c2e7;
}

#nav a { 
  color: #fff;
  text-decoration: none;
  font: 17px Cambria, Georgia, Times New Roman, Serif;
 }
#nav a:visited { text-decoration: none; }
#nav a:hover { text-decoration: none; }

#nav li ul {
  display: none;
  height: auto;
  padding: 0;
  margin: 10px 0 0 359px;
  position: absolute;
  width: 177px;
  z-index: 100;
}

#nav li:hover ul {
  display: block;
}

#nav li li { 
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 197px;
}

#nav li ul a {
  display: block;
  padding: 0 0 0 10px;
  margin: 0px 0px 0px 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: left;
}

#nav li li:hover {
  border: none;
}

/* Other submenu box */
.arrow_box {
  text-align: left;
  position: relative;
  background: url("/static/images/subNavBg.png");
  border: 2px solid #74c2e7;
}

.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 9%;
  border: 2px solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #20456C;
  border-width: 6px;
  margin-left: -6px;
}

.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #74c2e7;
  border-width: 10px;
  margin-left: -10px;
}

#footer {
  width: 800px;
  clear: both;
  height: 35px;
  font-size: 0.7em; 
  text-align: center;
  border-top: solid 3px #74c2e7;
  background: rgba(32, 44, 69, 0.4);
  font: 11px Cambria, Georgia, Times New Roman, Serif;
  line-height: 35px;
  margin: 15px 0 0;
}

#footer a {
  color: #fff;
}

.copyright {
  margin-left: 223px;
  height: 100%;
  float: left;
  vertical-align: middle;
}

.FAQ {
  width: 40px;
  float: right;
}

.Links {
  width: 40px;
  float: right;
  margin-right: 10px;
}

.link-container h3 {
  margin: 24px 0 6px;
}
  .link-container ul {
    list-style-type: none;
    margin: 0;
  }
    .link-container ul li {
      padding: 2px 0;
    }
      .link-container ul li a {
        text-decoration: none;
      }
      .link-container ul li a:hover {
        text-decoration: underline;
      }

#newslist li {
  margin: 10px 0;
}

#newslist .newsDateTitle a {
  font-weight: bold;
  text-decoration: none;
}

#newslist .newsDateTitle a:hover {
  text-decoration: underline;
}

#mainleft {
  margin-right: 35px;
  float: left;
  width:260px;
  height:200px;
}

.top_content {
  padding: 0 0 5px 0;
}

.screenshot {
  max-height:350px;
}

.screenshot img {
  max-width: 250px;
  max-height: 220px;
}

#ghbanner img {
  float:right;
  margin: -72px -3px;
  top: 0; right: 0; border: 0;
}

#header-right {
  padding-top: 10px;
  padding-right: 10px;
  float: right;
}

#quick-search {
  float: left;
  margin: 13px 10px;
  width: 194px;
  height: 30px;
  border: 2px solid #74c2e7;
  background: #74c2e7;
  background: rgba(32, 44, 69, 0.4);
  margin-right: 52px;
}

#qsearch {
  color: white;
  float: left;
  top: 0px; 
  z-index: 1;
  padding-left: 5px;
  margin: 0px;
  border: medium none;
  width: 160px;
  height: 30px;
  background: 0% 0% transparent; 
}

#quick-search input:focus {
  outline : none;
}

.btn {
  width: 30px;
  height: 30px; 
  float: right;
  margin: 0px;
  padding: 0px;
  border: medium none;
  background: transparent;
  position: absolute;
  z-index: 9;
}

div.noscript {
  text-align: center;
  padding-bottom: 10px;
}

table {
  margin:0 auto;
}

td, th, tr {
  padding: 5px;
  width:25%;
}

#paging td:hover {
  background: rgba(32, 44, 69, 0.4);
}

/* Registration page */

div#outer {
  box-shadow: 0px 0px 10px #000;
  background: rgba(32, 44, 69, 0.4);
  border: 2px solid #74c2e7;
  display: table;
  font-size: 0.9em;
  width: 400px;
  border: 2px solid #74c2e7;
  padding: 10px 10px 10px 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

div#row{
  display: table-row;
  width: auto;
  clear: both;
}

div#innerCellLeft {
  width: 200px;
  padding-top: 20px;
  float: left;
  display: table-column;  
}

div#innerCellRight {
  padding-top: 16px;
  float: right;
  display: table-column;  
}

p.registerInfo {
  font-size: 0.9em;
}

/* Login Page */

.frame {
  background: rgba(32, 44, 69, 0.4);
  border: 2px solid #74c2e7;
}

#accountsmain {
  height: 240px;  
  font-size: 0.9em;
}

#localaccount {  
  float: left;
}

#localaccount form {
  width: 300px;
  padding: 10px;
}

.row {
  clear: both;
  margin-bottom: 10px;
  display: table-row;
}

.innerCellLeft {
  width: 200px;
  float: left;
}

.innerCellRight {
  margin-top: -16px;
  margin-bottom: 10px;
  float: right; 
}

#socialaccounts { 
  width: 300px;
  height: 130px;
  float: right;
}

#socialaccounts_providers {
  list-style-type: none;
  padding-left: 5px;
}

#socialaccounts_providers li {
  display: inline;
  margin-left: 5px;
}

#socialaccounts_providers li a:hover {
  opacity: 0.5;
}

.primaryAction {
  float: right;
}

#uptime {
  background: rgba(32, 44, 69, 0.4);
  text-align: center;
  border: 2px solid #74c2e7;
  padding-top: 20px;
}

/* Upload forms */
.upload_container {
  width: 360px;
  margin: 0 auto;
}
  .upload_container input[type="text"] {
    width: 100%;
  }
.license_cc .license_options {
  list-style-type: none;
}

/* Profile pages */

#profile_container {
  min-height: 300px;
  padding: 0 0 20px;
}
  .side_nav {
    float: left;
    width: 200px;
    font-size: 16px;
    position: absolute;
    left: 20px;
  }
    .side_nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
      .side_nav ul li {
        padding: 0 0 10px 0;
      }
        .side_nav a {
          text-decoration: none;
          color: #fff;
        }
        .side_nav a:hover {
          border-bottom: 2px solid #74c2e7;
        }

  .side_nav_content {
    margin: 0 0 0 200px;
  }
    .side_nav_content div.profile_row {
      margin: 0 0 10px 0;
    }
      .side_nav_content div.label {
        width: 100px;
        float: left;
      }
  .content_row {
    margin: 30px 0 0;
  }

#changePasswordForm {
  position: absolute;
  bottom: 170px;
}
  #changePasswordForm ul.errorlist {
    font-size: 10px;
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0 0 0 200px;
    color: #dfdfdf;
  }
  #changePasswordForm p {
    margin: 0;
  }
    input[type="password"], input[type="text"], input[type="email"] {
      //background: rgba(32, 44, 69, 0.4);
      background: #204770;
      border: 2px solid #74c2e7;
      padding: 2px;
      color: #fff;
      width: 150px;
    }
    button[type="submit"], .button, .button:visited {
      border: 1px solid #dfdfdf;
      background: #dfdfdf;
      color: #000;
      padding: 4px 6px;
      margin: 2px;
    }
    #changePasswordForm label {
      font-size: 12px;
      width: 140px;
      display: inline-block;
    }
  #changePasswordForm button[type="submit"] {
    width: 302px;
    height: 32px;
    margin: 12px 0 0;
    font-size: 16px;
    line-height: 16px;
  }
  button[type="submit"]:hover, .button:hover {
    box-shadow: inset 2px 2px 10px #777;
    text-decoration: none;
  }
  button[type="submit"]:active, .button:active {
    box-shadow: inset 2px 2px 10px #555;
    outline: none;
  }

.checkbox {
  width: 16px;
  height: 15px;
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
}
  .checkbox label.tick {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    background: #204770;
    border: 2px solid #74c2e7;
  }
  .checkbox label.tick:after {
    opacity: 0;
  }
  .checkbox label.tick:hover::after {
    opacity: 0.2;
  }
  .checkbox input[type=checkbox]:checked + label.tick:after {
    opacity: 1;
  }
  .checkbox input[type=checkbox] {
    display: none;
  }

/* Map Tooltip */
.map_grid_cell:hover .map_tooltip {
  display: block;
}

.map_tooltip {
  display: none;
  -webkit-transition: opacity 1s ease-out;

  width: 192px;
  padding: 0 4px 4px;

  position: absolute;
  z-index: 10;
  top: -40%;
  left: -23%;
  font: 12px Helvetica,arial,freesans,clean,sans-serif;
  text-align: left;

  background: url("/static/images/subNavBg.png") #204770;
  border: 2px solid #74c2e7;
  box-shadow: 2px 2px 10px #000;
}
  .map_tooltip table {
    width: 100%;
    margin: 0;
  }
  .map_tooltip_mod {
    display: block;
    text-align: center;
    padding: 2px 0;
    font: 12px Arial;
  }
  .mod_cnc {
    color: #76f69a;
    font-weight: bold;
  }
  .mod_ra {
    color: #ff0000;
    font-weight: bold;
  }
  .mod_d2k {
    color: #eeb695;
    font-weight: bold;
  }
  .mod_ts {
    color: #76f6e5;
    font-weight: bold;
  }
    .map_tooltip .tooltip_title {
      width: 30%;
      color: #dfdfdf;
      padding: 1px 0;
    }
    .map_tooltip .tooltip_value {
      width: 70%;
      color: #f0f0f0;
      padding: 1px 0;
    }
    .map_tooltip .tooltip_title_misc {
      width: 35%;
      color: #dfdfdf;
      padding: 1px 0;
    }
    .map_tooltip .tooltip_value_misc {
      width: 15%;
      color: #f0f0f0;
      padding: 1px 0;
    }


/* displayMap template */
#map_data_container {
}
  .left_map_content {
    float: left;
    position: relative;
    width: 67%;
    padding: 0 20px 0 0;
  }
    .left_map_content .map_title {
      width: 280px;
      height: 166px;

      position: relative;
      text-align: right;
      padding: 0 25px 0 0;

      font: 14px arial;
      line-height: 14px;
    }
      .left_map_content .map_title .title {
        font-size: 22px;
        line-height: 20px;
        word-wrap: break-word;
      }
      .left_map_content .map_title .author {
        padding: 4px 0 0 0;
        width: 150px;
        word-break: break-word;
        float: right;
      }
       .map_download {
        font-size: 12px;
        line-height: 14px;
        margin: 8px 0 20px;
      }
        .map_download .button {
          padding: 6px 16px;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 10px #71A0FF;
        }
        .map_download .button:hover {
          box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
        }
    .left_map_content .notification_container {
      position: absolute;
      top: 54px;
    }
      .notification_container .notification {
        width: 83px;
        background: #0a93d7;
        padding: 6px 20px;
        margin: 0 0 10px 4px;
        text-align: left;
        cursor: pointer;
        position: relative;
      }
        .notification .notification_label {
          padding: 0 0 0 20px;
        }
        .notification label.tick {
          top: 6px;
          left: 8px;
        }
        .notification .x {
          top: 7px;
          left: 8px;
        }
      .notification_container .map_attention {
        background: #800000;
      }
      .notification_container .map_advanced {
      }
      .notification_container .map_lua {
      }
        .notification_container .notification_tooltip {
          cursor: default;
          display: none;
          text-align: left;
          color: #f5f5f5;
          padding: 6px;
          position: absolute;
          z-index: 11;
          left: 123px;
          top: -110%;
          width: 230px;
          min-height: 90px;
          font-size: 12px;
          line-height: 16px;
          background: url("/static/images/subNavBg.png") #204770;
          border: 2px solid #74c2e7;
          box-shadow: 0px 0px 10px #000;
        }
        .notification_container .notification:hover .notification_tooltip {
          display: block;
        }
        .notification_container .notification:hover {
        }
    .left_map_content .map_image_container {
      width: 160px;
      height: 160px;
      display: table;

      padding: 0;
      margin: 0;

      position: relative;
      border: 1px dashed #74c2e7;
    }
      .left_map_content .map_image_container .map_image {
        vertical-align:middle;
        display: table-cell;
        border-spacing: 0;
      }
        .left_map_content .map_image_container .map_image img {
          max-width: 160px;
          max-height: 160px;
          display: block;
          margin: 0 auto;
        }
    .map_hash_block {
      position: relative;
    }
      .map_hash_block_element {
        display: inline-block;
        border-right: 1px solid #74c2e7;
        margin-right: -3px;
      }
        .map_hash_block_element a {
          display: block;
          padding: 7px;
          text-decoration: none;
        }
        .map_hash_block_element a:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }
      .map_hash {
        display: inline-block;
        text-align: right;
        float: right;
        padding: 7px;
      }
        .map_hash h5 {
          position: absolute;
          left: 100px;
        }
    .map_description {
      position: relative;
    }
      .map_info {
      }
    .map_revisions {
      text-align: center;
    }
    .map_revisions a img {
      max-width: 170px;
    }
    .map_license {
    }
      .license_img {
        padding: 3px 0 0;
      }
      .license_text {
        width: 352px;
        padding: 0 0 0 8px;
        line-height: 18px;
        font-size: 0.9em;
      }
      .reportMap {

      }
        .reportMap label {
          font-size: 0.9em;
        }
    .map_screenshots {
      text-align: center;
    }
      .map_screenshots h5 {
        text-align: left;
      }
      .map_screenshots .cScreenshot {
        display: inline-block;
        margin: 10px 6px 0;
      }
        .map_screenshots .cScreenshot img {
          max-width: 96px;
          max-height: 96px;
        }
    .map_shp {
      min-height: 84px;
    }
      .map_shp .cSHP {
        display: inline-block;
        margin: 10px;
        border: 1px solid #74c2e7;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 57px;
      }
        .map_shp img {
          max-width: 60px;
          max-height: 60px;
          vertical-align: middle;
        }

  .right_map_content {
    float: right;
    position: relative;
    width: 27%;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #74C2E7;
    padding: 10px;
  }
    .right_map_content .map_data_label {
      width: 43%;
      display: inline-block;
      color: #eee;
      text-align: left;
      padding: 0 0 1px;
      vertical-align: top;
      font-size: 0.9em;
    }
    .right_map_content .map_data_text {
      width: 55%;
      display: inline-block;
      color: #f0f0f0;
      text-align: left;
      padding: 0 0 1px;
      font-size: 0.9em;
      vertical-align: top;
    }
    .right_map_content .map_data_link {
      width: 100%;
      color: #f0f0f0;
      text-align: center;
      padding: 0 0 1px;
      font-size: 0.9em;
      border: 1px solid #74C2E7;
      margin-top: -1px;
    }
    .right_map_content .map_data_link a {
      display: block;
      height: 25px;
      line-height: 25px;
      text-decoration: none;
    }
    .right_map_content .map_data_link a:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
      .editMapInfo {
      }
      .allReports {
      }
        .reportRow {
          margin: 0 0 20px;
        }
          .reportUser {

          }
          .reportMsg {
            position: relative;
            background: #294364;
            border: 2px solid #74c2e7;
            word-wrap: break-word;
            margin: 10px 0 0 0;
            padding: 6px;
          }
          .reportMsg:after, .reportMsg:before {
            bottom: 100%;
            left: 20px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }
          .reportMsg:after {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #294364;
            border-width: 8px;
            margin-left: -8px;
          }
          .reportMsg:before {
            border-color: rgba(194, 225, 245, 0);
            border-bottom-color: #74c2e7;
            border-width: 10px;
            margin-left: -10px;
          }
    .right_map_content .side_img_links {
      margin: 30px 0 0;
      font-size: 0.9em;
    }
      .side_img_links .side_img_link {
        display: inline-block;
        border: 1px dashed #74c2e7;
        width: 80px;
        height: 80px;
        margin: 10px 10px 0 0;
        text-align: center;
        line-height: 76px;
      }
        .side_img_links .side_img_link img {
          max-width: 80px;
          max-height: 80px;
          vertical-align: middle;
        }
        .side_img_links .side_img_link a {
          display: block;
        }
    .editMapInfoShow, .report, .reportCopyright, .allReportsShow, .printYamlShow, .printLua, .showLintLog, .addScreenshot, .change_downloading_status, .change_sync_status {
      cursor: pointer;
    }
    .reportCopyright {
      font-size: 0.9em;
    }


/* Panel content */
#panel_content {
  min-height: 300px;
}
  #panel_content .side_nav {
    width: 140px;
  }
  #panel_content .side_nav_content {
    margin: 0 0 0 140px;
  }

.addScreenshotForm {
  font-size: 0.9em;
  float: right;
  padding-top: 50px;
}

/* */
.integration {
  color: #ff0000;
  font-weight: bold;
}