html {
  min-height: 100%;
  box-shadow: 0px 0px 100px rgb(0, 0, 0) inset;
}

body {
  background-color: black;
  background-image: url("/static/images/bg.svg");
  background-attachment:fixed;
  margin: 0; 
  color: white;
  font: 14px/1.3 Helvetica,arial,freesans,clean,sans-serif;
}

.no-svg body {
  background-image: url("/static/images/bg-fallback.png");
}

h1 {
  font-size: 220%;
  font-family: Cambria, Georgia, Times New Roman, Serif; 
}

h2, h3 {
  font-size: 175%;
  font-family: Helvetica,arial,freesans,clean,sans-serif;
  margin: 10px 0;
}

h3 {
  font-size: 125%;
}

hr {
  border: 0;
  height: 2px;
  background: #74c2e7;
}

.hr-thick {
  border: 0;
  height: 3px;
  background: #74c2e7;
}

.clear {
  clear: both;
}

a, a:visited { 
  color: white;
}

a img {
    border: none;
}

a.current {
  border-bottom: 3px solid #74c2e7;
}

p.download, .newsDetails {
  margin-top:0;
  margin-bottom:0;
  padding-top:0;
  font-size: 0.8em;
}

table tr td {
    font-size: 0.9em;
}

div#br {
  padding-top: 20px;
}

#paging {
  text-align: center;
  display: table;
  margin: 0 auto;
}

#paging_cell {
  background: none repeat scroll 0% 0% rgba(32, 44, 69, 0.4);
  border: 1px solid #74c2e7;
  display: table-column;
  float: left;
  margin-left: -1px;
}

#paging_celler {
  display: table-cell;
}

#paging_cell a {
  font-size: 0.9em;
  display: block;
  text-decoration: none;
  width: 25px;
  height: 25px;
  line-height: 25px;
  vertical-align: bottom
}

#paging_cell a:hover {
  background: rgba(32, 44, 69, 0.7);
  transition: all 0.6s ease;
  text-decoration: underline;
}

#paging_cell span {
  background: rgba(32, 44, 69, 0.7);
  display: block;
  font-size: 0.9em;
  width: 25px;
  height: 25px;
  font-weight: bold;
  line-height: 25px;
}

#map_grid {
  font-size: 0.9em;
  text-align: center;
  margin-left: 3px;
  padding-bottom: 10px;
  position: relative;
}

#map_grid_cell {
  background: none repeat scroll 0% 0% rgba(32, 44, 69, 0.4);
  border: 1px solid #74c2e7;
  display: table-column;
  float: left;
  margin-top: -1px;
  margin-left: -1px;
  position: relative;
}

#map_grid_cell a {
  display: block;
  min-height: 170px;
  width: 138px;
  position: relative;
}

.cell-link-container {
  text-align: center;
  position: absolute;
  bottom: 2px;
}

.cell-link-container div {
  text-align: center;
  width: 138px;
}

#map_grid_cell:hover {
  background: rgba(32, 44, 69, 0.7);
  transition: all 0.6s ease;
}

#map_grid_cell img {
  max-width: 120px;
  max-height: 135px;
  padding: 8px;
}

#rssfeed {
  width: 800px;
  margin: 5px auto;
}

#rssfeed a { text-decoration: none; }
#rssfeed a:visited { text-decoration: none; }
#rssfeed a:hover { text-decoration: none; }

.feed {
  margin: 0px 0px;
  padding: 0px 0px 0px 30px;
  background: url("/static/images/feed-icon16.png") no-repeat scroll 5px center transparent;
  font-weight: bold;
  color: rgb(240, 232, 232);
}

.userManageTop {
  float: right;
  padding-right: 5px;
}

#container {
  width: 800px;
  margin: 0px auto;
  border: 3px solid #74c2e7;
  background: #74c2e7;
  background: rgba(32, 44, 69, 0.4);
  box-shadow: 0px 0px 20px #000;
  margin-bottom: 20px;
}

#header {
  height: 66px;
  border-bottom: solid 3px #74c2e7;
  background: none repeat scroll 0% 0% rgba(32, 44, 69, 0.4);
}

#header h1 {
  margin: 0px auto;
  width:555px;
}

#header img {
  vertical-align: middle; 
  margin: -33px 10px;
}

#content {
  padding-left:50px;
  padding-right:50px;
  position: relative;
}

#nav {
  list-style-type:none;
  margin: 20px auto;
  width:80%;
  text-align: left;
}

#nav li {
  display:inline;
  font-size: 1.2em;
  margin: 0 10px;
  padding-bottom: 15px;
  color: white;
  text-decoration: none;
}

#nav span:hover {
  border: solid #74c2e7;
  border-width: 0 0 2px 0;
}

.nav-selected {
  border-bottom: 2px solid #74c2e7;
}

#nav a { 
    text-decoration: none;
    font: 17px Cambria, Georgia, Times New Roman, Serif;
 }
#nav a:visited { text-decoration: none; }
#nav a:hover { text-decoration: none; }

#nav li ul {
  display: none;
  height: auto;
  padding: 0;
  margin: 10px 0 0 359px;
  position: absolute;
  width: 177px;
  z-index: 100;
}

#nav li:hover ul {
  display: block;
}

#nav li li { 
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 197px;
}

#nav li ul a {
  display: block; 
  padding: 0 0 0 10px;
  margin: 0px 0px 0px 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: lef80t;
}

#nav li li:hover {
  border: none;
}

/* Other submenu box */
.arrow_box {
  text-align: left;
  position: relative;
  background: url("/static/images/subNavBg.png");
  border: 2px solid #74c2e7;
}

.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 9%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #20456C;
  border-width: 6px;
  margin-left: -6px;
}

.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #74c2e7;
  border-width: 10px;
  margin-left: -10px;
}

#footer {
  width: 800px;
  margin-top:20px;
  clear: both;
  height: 35px;
  font-size: 0.7em; 
  text-align: center;
  border-top: solid 3px #74c2e7;
  background: none repeat scroll 0% 0% rgba(32, 44, 69, 0.4);
  font: 11px Cambria, Georgia, Times New Roman, Serif;
  line-height: 35px;
}

.copyright {
  margin-left: 223px;
  height: 100%;
  float: left;
  vertical-align: middle;
}

.FAQ {
  width: 40px;
  float: right;
}

.FAQ a {
  text-decoration: none;
}

.FAQ a:hover {
  text-decoration: underline;
}

.Links {
  width: 40px;
  float: right;
  margin-right: 10px;
}

.Links a {
  text-decoration: none;
}

.Links a:hover {
  text-decoration: underline;
}

.link-container h3 {
  margin: 24px 0 6px;
}
  .link-container ul {
    list-style-type: none;
    margin: 0;
  }
    .link-container ul li {
      padding: 2px 0;
    }
      .link-container ul li a {
        text-decoration: none;
      }
      .link-container ul li a:hover {
        text-decoration: underline;
      }

#newslist li {
  margin: 10px 0;
}

#newslist .newsDateTitle a {
  font-weight: bold;
  text-decoration: none;
}

#newslist .newsDateTitle a:hover {
  text-decoration: underline;
}

#mainleft {
  margin-right: 35px;
  float: left;
  width:260px;
  height:200px;
}

#screenshot {
  position:relative;
  height:350px;
}

#screenshot img {
  position:absolute;
  top:0;
  left:0;
  z-index:8;
  padding: 0;
  margin: 10px 0;
  border: solid 2px #74c2e7;
}

#screenshot IMG.active {
  z-index:10;
}

#screenshot IMG.last-active {
  z-index:9;
}

#ghbanner img {
  float:right;
  margin: -72px -3px;
  top: 0; right: 0; border: 0;
}

#header-right {
  padding-top: 10px;
  padding-right: 10px;
  float: right;
}

#quick-search {
  float: left;
  margin: 13px 10px;
  width: 194px;
  height: 30px;
  border: 2px solid #74c2e7;
  background: #74c2e7;
  background: rgba(32, 44, 69, 0.4);
  margin-right: 52px;
}

#qsearch {
  color: white;
  float: left;
  top: 0px; 
  z-index: 1;
  padding-left: 5px;
  margin: 0px;
  border: medium none;
  width: 160px;
  height: 30px;
  background: 0% 0% transparent; 
}

#quick-search input:focus {
  outline : none;
}

.btn {
  width: 30px;
  height: 30px; 
  float: right;
  margin: 0px;
  padding: 0px;
  border: medium none;
  background: none repeat scroll 0% 0% transparent;
  position: absolute;
  z-index: 99;
}

div.noscript {
  text-align: center;
  padding-bottom: 10px;
}

table {
  margin:0 auto;
  width:90%;
}

td, th, tr {
  padding: 5px;
  width:25%;
}

#paging td:hover {
  background: rgba(32, 44, 69, 0.4);
}

/* Registration page */

div#outer {
  box-shadow: 0px 0px 10px #000;
  background: none repeat scroll 0% 0% rgba(32, 44, 69, 0.4);
  border: 2px solid #74c2e7;
  display: table;
  font-size: 0.9em;
  width: 400px;
  border: 2px solid #74c2e7;
  padding: 10px 10px 10px 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

div#row{
  display: table-row;
  width: auto;
  clear: both;
}

div#innerCellLeft {
  width: 200px;
  padding-top: 20px;
  float: left;
  display: table-column;  
}

div#innerCellRight {
  padding-top: 16px;
  float: right;
  display: table-column;  
}

p.registerInfo {
  font-size: 0.9em;
}

/* Login Page */

.frame {
  background: none repeat scroll 0% 0% rgba(32, 44, 69, 0.4);
  border: 2px solid #74c2e7;
}

#accountsmain {
  height: 240px;  
  font-size: 0.9em;
}

#localaccount {  
  float: left;
}

#localaccount form {
  width: 300px;
  padding: 10px;
}

.row {
  clear: both;
  margin-bottom: 10px;
  display: table-row;
}

.innerCellLeft {
  width: 200px;
  float: left;
}

.innerCellRight {
  margin-top: -16px;
  margin-bottom: 10px;
  float: right; 
}

#socialaccounts { 
  width: 300px;
  height: 130px;
  float: right;
}

#socialaccounts_providers {
  list-style-type: none;
  padding-left: 5px;
}

#socialaccounts_providers li {
  display: inline;
  margin-left: 5px;
}

#socialaccounts_providers li a:hover {
  opacity: 0.5;
}

.primaryAction {
  float: right;
}

#uptime {
  background: none repeat scroll 0% 0% rgba(32, 44, 69, 0.4);
  text-align: center;
  border: 2px solid #74c2e7;
  padding-top: 20px;
}

/* Upload forms */
.license_cc .license_options {
  list-style-type: none;
}

/* Profile pages */

#profile_container {
  min-height: 300px;
  padding: 20px 0 0;
}
  .side_nav {
    float: left;

    width: 200px;

    font-size: 16px;
  }
    .side_nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
      .side_nav ul li {
        padding: 0 0 10px 0;
      }
        .side_nav a {
          text-decoration: none;
        }
        .side_nav a:hover {
          border-bottom: 2px solid skyblue;
        }

  .side_nav_content {
    margin: 0 0 0 200px;

  }
    .side_nav_content div.profile_row {
      margin: 0 0 10px 0;
    }
      .side_nav_content div.label {
        width: 100px;
        float: left;
      }
  .content_row {
    margin: 30px 0 0;
  }

#changePasswordForm {
  position: absolute;
  bottom: 100px;
}
  #changePasswordForm ul.errorlist {
    font-size: 10px;
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0 0 0 200px;
    color: #dfdfdf;
  }
  #changePasswordForm p {
    margin: 0;
  }
    input[type="password"], input[type="text"], input[type="email"] {
      background: rgba(32, 44, 69, 0.4);
      border: 2px solid #74c2e7;
      padding: 2px;
      color: #fff;
      width: 150px;
    }
    button[type="submit"] {
      border: 1px solid #dfdfdf;
      background: dfdfdf;
      padding: 4px 6px;
    }
    #changePasswordForm label {
      font-size: 12px;
      width: 140px;
      display: inline-block;
    }
  #changePasswordForm button[type="submit"] {
    width: 302px;
    height: 32px;
    margin: 12px 0 0;
    font-size: 16px;
    line-height: 16px;
  }
  button[type="submit"]:hover {
    box-shadow: inset 2px 2px 10px #777;
  }
  button[type="submit"]:active {
    box-shadow: inset 2px 2px 10px #555;
    outline: none;
  }

.checkbox {
  width: 16px;
  height: 15px;
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
}
  .checkbox label {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
      left: 0;
    background: transparent;
    border: 2px solid skyblue;
  }
  .checkbox label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 11px;
    height: 4px;
    background: rgba(0, 0, 0, 0.1);
    top: 3px;
    left: 2px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .checkbox label:hover::after {
    opacity: 0.2;
  }
  .checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
  }
  .checkbox input[type=checkbox] {
    display: none;
  }
