
html {
  min-height: 100%;
  box-shadow: 0px 0px 100px rgb(0, 0, 0) inset;
}

body {
  background-color: black;
  background-image: url("/static/images/bg.svg");
  background-attachment:fixed;
  margin: 0; 
  color: white;
  font: 14px/1.3 Helvetica,arial,freesans,clean,sans-serif;
}

.no-svg body {
    background-image: url("/static/images/bg-fallback.png");
}

h1 {
    font-size: 220%;
    font-family: Cambria, Georgia, Times New Roman, Serif; 
}

h2, h3 {
  font-size: 175%;
  font-family: Helvetica,arial,freesans,clean,sans-serif;
  margin: 10px 0;
}

h3 {
    font-size: 125%;
}

hr {
  border: 0;
  height: 2px;
  background: #74c2e7;
}

.hr-thick {
  border: 0;
  height: 3px;
  background: #74c2e7;
}

a, a:visited { 
  color: white 
}

a img {
	border: none;
}

a.current {
  border-bottom: 3px solid #74c2e7;
}

p.download, .newsDetails {
  margin-top:0;
  margin-bottom:0;
  padding-top:0;
  font-size: 0.8em;
}

table tr td {
	font-size: 0.8em;
}

.Table {
	width: 400px;
	border: 2px solid #74c2e7;
	padding-top: 5px;
}

#map_grid td:hover {
  background: rgba(32, 44, 69, 0.4);
}

.breadcrumbs {
  margin-top: 1em;
}

#rssfeed {
  width: 800px;
  margin: 5px auto;
}

#rssfeed a { text-decoration: none; }
#rssfeed a:visited { text-decoration: none; }
#rssfeed a:hover { text-decoration: none; }

.feed {
  margin: 0px 0px;
  padding: 0px 0px 0px 30px;
  background: url("/static/images/feed-icon16.gif") no-repeat scroll 5px center transparent;
  font-weight: bold;
  color: rgb(240, 232, 232);
}

.userManageTop {
  float: right;
  padding-right: 5px;
}

#container {
  width: 800px;
  margin: 0px auto;
  margin-bottom: 20px;
  border: 3px solid #74c2e7;
  background: #74c2e7;
  background: rgba(32, 44, 69, 0.4);
  box-shadow: 0px 0px 20px #000;
}

#header {
  height: 66px;
  border-bottom: solid 3px #74c2e7;
  background: none repeat scroll 0% 0% rgba(32, 44, 69, 0.4);
  /*background-color: #234c76;*/
}

#header h1 {
  margin: 0px auto;
  width:555px;
}

#header img {
  vertical-align: middle; 
  margin: -33px 10px;
}

#content {
  padding-left:50px;
  padding-right:50px;
}

#nav {
  list-style-type:none;
  margin: 20px auto;
  width:80%;
  text-align: left;
}

#nav li {
  display:inline;
  font-size: 1.2em;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

#nav span:hover {
  border: solid #74c2e7;
  border-width: 0 0 2px 0;
}

#nav .nav-selected {
  border: solid #74c2e7;
  border-width: 0 0 2px 0;
}

#nav a { 
    text-decoration: none;
    font: 17px Cambria, Georgia, Times New Roman, Serif;
 }
#nav a:visited { text-decoration: none; }
#nav a:hover { text-decoration: none; }

#nav li ul {
  display: none;
  height: auto;
  padding: 0;
  margin: -5px 0 0 350px;
  position: absolute;
  width: 197px;
}

#nav li:hover ul {
  display: block;
}

#nav li li { 
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 197px;
}

#nav li ul a {
  display: block; 
  padding: 0 0 0 10px;
  margin: 0px 0px 0px 10px;
  text-align: left;
}

#nav li li:hover {
 border: none;
}

.submenu-top {
  background: url("/static/images/submenu-top.png");
  height: 22px;
}

.submenu-1st-link {
  background: url("/static/images/submenu-1st-link.png");
  height: 30px;
}

.submenu-2nd-link {
  background: url("/static/images/submenu-2nd-link.png");
  height: 30px;
}

.submenu-3nd-link {
  background: url("/static/images/submenu-3nd-link.png");
  height: 30px;
}

.submenu-4th-link {
  background: url("/static/images/submenu-4th-link.png");
  height: 30px;
}

.submenu-5th-link {
  background: url("/static/images/submenu-5th-link.png");
  height: 30px;  
}

.submenu-bottom {
  background: url("/static/images/submenu-bottom.png");
  height: 11px;
}

#footer {
  margin-top:20px;
  clear: both;
  height:35px;
  font-size: 0.7em; 
  text-align: center;
  border-top: solid 3px #74c2e7;
  background: none repeat scroll 0% 0% rgba(32, 44, 69, 0.4);
  font: 11px Cambria, Georgia, Times New Roman, Serif;
  vertical-align: middle;
}

.copyright {
 background-color: #234c76;
 width: 600px;
 height: 100%;
 position: relative;
 float:left;
 margin: auto;
}

.FAQ {
 background-color: red;
 width: 100px;
 height: 100%;
 position: relative;
 float:left;
  margin: auto;
}

.Links {
 background-color: pink;
 width: 100px;
 height: 100%;
 position: relative;
 float:left;
  margin: auto;
}

#newslist li {
  margin: 10px 0;
}

#newslist .newsDateTitle a {
  font-weight: bold;
  text-decoration: none;
}

#newslist .newsDateTitle a:hover {
  text-decoration: underline;
}

#mainleft {
  margin-right: 35px;
  float: left;
  width:260px;
  height:200px;
}

#screenshot {
  position:relative;
  height:350px;
}

#screenshot img {
  position:absolute;
  top:0;
  left:0;
  z-index:8;
  padding: 0;
  margin: 10px 0;
  border: solid 2px #74c2e7;
}

#screenshot IMG.active {
  z-index:10;
}

#screenshot IMG.last-active {
    z-index:9;
}

#ghbanner img {
  float:right;
  margin: -72px -3px;
  top: 0; right: 0; border: 0;
}

#header-right {
  padding-top: 10px;
  padding-right: 10px;
  float: right;
}

#quick-search {
  float: left;
  margin: 13px 10px;
  width: 194px;
  height: 30px;
  border: 2px solid #74c2e7;
  background: #74c2e7;
  background: rgba(32, 44, 69, 0.4);
  margin-right: 50px;
  /* box-shadow: 0px 0px 20px #000; */
}

#qsearch {
  color: white;
  float: left;
  top: 0px; 
  z-index: 1;
  padding-left: 5px;
  margin: 0px;
  border: medium none;
  width: 160px;
  height: 30px;
  background: 0% 0% transparent; 
}

#quick-search input:focus {
    outline : none;
}

.btn {
  width: 30px;
  height: 30px; 
  float: right;
  margin: 0px;
  padding: 0px;
  border: medium none;
  background: none repeat scroll 0% 0% transparent;
  position: absolute;
  z-index: 99;
}

/* Comment position hacks */
#disqus_thread {
  padding-top: 20px;
}

div.noscript {
  text-align: center;
  padding-bottom: 10px;
}

/* Games page */
table {
  margin:0 auto;
  width:90%;
}

td, th, tr {
  padding: 5px;
  width:25%;
}

#serverlist {
  text-align:center;
}

#serverlist .gameSubline {
  font-size:10px;
}

#serverlist .gameWaiting {
  color: #0A0;
}

#serverlist .gamePlaying {
  color: #F80;
}

#serverlist .greyout {
  color: #999;
}

#serverlist .greyout .gameWaiting {
  color: #050;
}

#serverlist .greyout .gamePlaying {
  color: #740;
}

/* Downloads page */
.downloadplatform {
  list-style-type:none;
  padding:0;
  margin:0 auto;
  width:90%;
  text-align:center;
}

.downloadplatform li {
  display:inline;
  margin:2px;
}

.downloadplatform a {
  padding:4px;
  display:inline-block;
  border: solid 3px #272d2c;
  background-color: #272d2c;
  text-decoration:none;
  border-radius: 10px; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
}

.downloadplatform a img {
  vertical-align: middle;
  border: 0;
}

.downloadplatform a:hover {
  background-color: #888;
  border-color: #888;
}

.downloadplatform a.active {
  border: solid 3px #74c2e7;
  background-color: #272d2c;
}

.downloadplatform a.active:hover {
  background-color: #888;
}

.downloadlinks {
  list-style-type:none;
  padding:0;
  margin:0 auto;
  width:90%;
  text-align:center;
}

.downloadlinks li {
  display:inline;
  padding:15px;
}

.downloadlinks a {
  font-family: 12px/1.4 Helvetica,arial,freesans,clean,sans-serif; 
  background: url("/static/images/download.svg") no-repeat;
  background-position: 15px 15px;
  padding:10px 15px 10px 60px;
  display:inline-block;
  border: solid 3px #182547;
  background-color: #272d2c;
  text-decoration:none;
  text-align:center;
  border-radius: 10px; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
}

.no-svg .downloadlinks a {
  background-image: url("/static/images/download-fallback.png");
}

.downloadlinks a:hover {
  background-color: #888;
}

.downloadblurb {
  min-height: 50px;
}
