.map{
    border:1px solid #fff;
    margin:0.5rem;
    padding:0.5rem;
    display:flex;
    align-items: flex-start;
    background:rgba(0,0,0,0.4);
}
.map h4{
    padding:0;
    margin:0;
}
.map p{
    font-weight: 700;   
}
.map-left-author {
    font-weight:300;
}
.map-left{
    display:flex;
    flex-direction: column;
}

.map-right{
    margin:auto;
    margin-right:0;
    align-self: flex-end;
    text-align: center;
}
.map-right p {
    padding:0;
    margin:0 0 0.2rem;
}

