body{
    background-image:url('/static/images/bg.svg');
    color:#fff !important;
}
body:after{
    z-index:-1;
    position:absolute;
    top:0;
    left:0;
    content:"";
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.1);
}
.container{
    margin:1rem;
    border:3px solid #74c2e7;
    background-color:rgba(0,0,0,0.5);
    padding:0 !important;
}
/* Navigation menu */

.navbar-brand img{
    max-width:64px !important;
}

.navbar{
    background:rgba(0,0,0,0.4);
    border-bottom:1px solid #74c2e7;
}
.navbar-brand-text{
    font-size:150%;
}
@media all and (max-width:960px){
    .navbar-brand img{
        max-width:48px !important;
    }
    /* reduce size on mobile devices of text to fit on one line     */
    .navbar-brand-text{
     font-size:89%;
    }
    a.navbar-brand{
        margin:0;
        padding:0;
    }

}
/* comments */
.comment p {
    margin:0;
    padding:0;
}

/* footer */
.footer{
    background:rgba(0,0,0,0.4);
    border-top:1px solid #74c2e7;
}
.footer .copyright, .footer ul{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding:0.2rem;
}
.copyright{
    font-size:90%;
}

/* overwrite/addition bootstrap */
.bg-transparent{
    background:transparent !important;
}
.shadow-dark{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.9) !important
}